<%
const pageData = {
  title: 'デスクトップPC dynaDeskシリーズ',
  description: 'dynabook(ダイナブック)の公式法人向けDynadeskシリーズデスクトップPCページ。最新モデルとカスタマイズオプションを紹介し、企業の業務効率を向上させるデスクトップPCを提供します。',
  path:'../../../',
  assetPath:'/sites/default/files/dynabook-b2b/assets_2025/',
  isTop:'true'
}
%>
<!DOCTYPE html>
<html>
<head>
  <%- include( pageData.path+'common/_meta.ejs', { pageData: pageData } ); %>
  <%- include( pageData.path+'common/_header_css.ejs', { pageData: pageData } ); %>
  <%- include( pageData.path+'common/_header_js.ejs', { pageData: pageData } ); %>
</head>

<body>
<div>
  <!--dynabook-2025-header-->
  <%- include( pageData.path+'business/modules/_header.ejs', { pageData: pageData } ); %>
  <!--./dynabook-2025-header-->
  <!--dynabook-2025-main-->
  <main>
    <div class="dynabook-2025 l-container p-dynabook-2025__busProduct__main">
      <%- include( pageData.path+'business/modules/_storebnr.ejs', { pageData: pageData } ); %>
      <div class="l-2025-breadcrumb--wrapper">
        <div class="l-2025-breadcrumb">
          <ol class="l-2025-breadcrumb__list" itemscopeitemtype=https://schema.org/BreadcrumbList>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item"> <a itemprop="item" href="/index.html"><span itemprop="name">dynabook.com</span></a>
              <meta itemprop="position" content="1">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item"> <a itemprop="item" href="/business/index.html"><span itemprop="name">法人のお客様（ビジネスPC・ソリューション）</span></a>
              <meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item"> <a itemprop="item" href="/business/product/index.html"><span itemprop="name">ビジネスPCラインアップ</span><meta itemprop="position" content="3"></a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item">
              <a itemprop="item" href="/business/product/business-desktop-dynadesk-series/index.html"><span itemprop="name">デスクトップPC</span></a>
              <meta itemprop="position" content="4">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item is-current"> <span itemprop="name">dynaDeskシリーズ</span>
              <meta itemprop="position" content="5">
            </li>
          </ol>
        </div>
        <div class="l-2025-bnr-win11">
          <div class="l-2025-bnr-win11--inner">
            <span>
                <img src="<%= pageData.assetPath %>images/common/bnr_win11-2.png" alt="Elevate potential with Windows 11 Pro devices Windows 11">
            <span>
          </div>
        </div>
      </div>
      <div class="l-2025-category">
        <div class="l-2025-category--inner">
          <p>デスクトップPC</p>
        </div>
      </div>
      <section class="p-dynabook-2025__busProduct__head l-2025-page__section">
        <div class="p-dynabook-2025__busProduct__head--category">デスクトップPC</div>
        <div class="p-dynabook-2025__busProduct__head--title">
          <div class="p-dynabook-2025__busProduct__head--category">デスクトップPC</div>
          <h1 class="p-dynabook-2025__busProduct__head--mainTitle">dynaDeskシリーズ</h1>
        </div>
        <div class="p-dynabook-2025__busProduct__head--subTitle">豊富なインターフェース、最大128GBまでメモリ増設可能でハードワークにも対応。高い電源効率で省エネ化も実現したハイパフォーマンスなデスクトップPC</div>
      </section>
      <section class="p-dynabook-2025__busProduct__kv l-2025-page__section sp-wide-100">
        <div class="p-dynabook-2025__busProduct__kv--image">
          <picture>
            <source srcset="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/kv_sp.jpg" media="(max-width: 780px)">
            <img class="u-img" src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/kv.jpg" alt>
          </picture>
          <p class="is-cap is-b">PHOTO:DT200</p>
        </div>
        <div class="l-2025-page__sp--side">
          <div class="p-dynabook-2025__busProduct__kv--tag--list">
            <div class="p-dynabook-2025__busProduct__kv--tag--item">光学ドライブ</div>
            <div class="p-dynabook-2025__busProduct__kv--tag--item">豊富なインターフェース</div>
            <div class="p-dynabook-2025__busProduct__kv--tag--item">オフィス固定利用</div>
          </div>
          <div class="p-dynabook-2025__busProduct__kv--text">
            最大4画面同時出力に対応する豊富なインターフェースに大容量メモリを搭載可。デスクの上でも邪魔にならない省スペース設計に、多機能な拡張カードに対応するスロットを搭載。ハードワークにも対応するハイパフォーマンスなデスクトップPC。
          </div>
          <div class="p-dynabook-2025__busProduct__kv--mention">
            ※ディスプレイは別売です。
          </div>
        </div>
      </section>
      <section class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
        <div class="p-dynabook-2025__busProduct__product--main">
          <div class="l-2025-page__sp--side">
            <ul class="p-dynabook-2025__busProduct__product--tab--list">
              <li class="p-dynabook-2025__busProduct__product--tab--item">
                <div class="p-dynabook-2025__busProduct__product--tab--btn p-dynabook-2025__busProduct__product--tab--btn--texts">
                  <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">DT210</span>
                  <span class="p-dynabook-2025__busProduct__product--tab--text">ハイエンドタイプ</span>
                </div>
              </li>
              <li class="p-dynabook-2025__busProduct__product--tab--item">
                <div class="p-dynabook-2025__busProduct__product--tab--btn p-dynabook-2025__busProduct__product--tab--btn--texts">
                  <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">DT200</span>
                  <span class="p-dynabook-2025__busProduct__product--tab--text">ミドルレンジタイプ</span>
                </div>
              </li>
              <li class="p-dynabook-2025__busProduct__product--tab--item">
                <div class="p-dynabook-2025__busProduct__product--tab--btn p-dynabook-2025__busProduct__product--tab--btn--texts">
                  <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">DT200/<br class="u-display__block--sp">loT</span>
                  <span class="p-dynabook-2025__busProduct__product--tab--text">長時間利用できる<br>特定用途向け</span>
                </div>
              </li>
            </ul>
            <div class="p-dynabook-2025__busProduct__product--scrollX">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
            <div class="p-dynabook-2025__busProduct__product--class p-dynabook-2025__busProduct__product--class--3">
              <div class="p-dynabook-2025__busProduct__product--class--text">ハイエンド</div>
              <div class="p-dynabook-2025__busProduct__product--class--text">スタンダード</div>
            </div>
            <div class="p-dynabook-2025__busProduct__product--table">
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business/product/business-desktop-dynadesk-series/dt210y-feb-2025-desktop.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>DT210/Y</span></a>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business-desktop-dynadesk-series/dt200y-aug-2024-desktop.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>DT200/Y</span></a>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business-desktop-dynadesk-series/dt200u-iot-nov-2022-desktop.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>DT200/IoT</span></a>
                </div>
              </div>
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第14世代</span>
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第12世代</span>
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第12世代</span>
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">Windows Embedded OS</span>
                </div>
              </div>
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i3</span>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i3</span>
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Celeron®</span>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i3</span>
                </div>
              </div>
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                <div class="p-dynabook-2025__busProduct__product--th"></div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business-desktop-dynadesk-series/dt210y-feb-2025-desktop/custom/a615lyf1311a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business-desktop-dynadesk-series/dt200y-aug-2024-desktop/custom/a613kyv8m11a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business-desktop-dynadesk-series/dt200u-iot-nov-2022-desktop/spec.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>ラインアップ</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class="p-dynabook-2025__busProduct__product--foot">
          <a class="p-dynabook-2025__busProduct__product--btn u-hover-img-bg-cover" href="/business/contact/product-01.html"><span>
            <img src="<%= pageData.assetPath %>images/common/ico_contact.svg" alt>
            <span>お問い合わせ</span>
          </span></a>
        </div>
      </section>
      <section class="p-dynabook-2025__busProduct__gallery">
        <div class="l-2025-page__section">
          <div class="l-2025-page__section--head">
            <h2 class="l-2025-page__section--title">デザインギャラリー</h2>
          </div>
          <div class="l-2025-page__section--main">
            <div class="p-dynabook-2025__busProduct__gallery--search">
              <div class="p-dynabook-2025__busProduct__gallery--search--type--wrapper js-tab--wrapper">
                <button class="p-dynabook-2025__busProduct__gallery--search--type u-hover-img-bg-cover is-active js-tab js-tabGroup-1" data-target="#areaDT210" data-tabContents=".js-target-1" data-lisetList=".js-tabGroup-1">
                  <span class="p-dynabook-2025__busProduct__gallery--search--type--icon"></span>DT210/Y
                </button>
                <button class="p-dynabook-2025__busProduct__gallery--search--type u-hover-img-bg-cover js-tab js-tabGroup-1" data-target="#areaDT200" data-tabContents=".js-target-1" data-lisetList=".js-tabGroup-1">
                  <span class="p-dynabook-2025__busProduct__gallery--search--type--icon"></span>DT200/Y
                </button>
                <button class="p-dynabook-2025__busProduct__gallery--search--type u-hover-img-bg-cover js-tab js-tabGroup-1" data-target="#areaDT200IoT" data-tabContents=".js-target-1" data-lisetList=".js-tabGroup-1">
                  <span class="p-dynabook-2025__busProduct__gallery--search--type--icon"></span>DT200/IoT
                </button>
              </div>
            </div>
            <div id="areaDT210" class="p-dynabook-2025__busProduct__gallery--list js-target js-target-1 is-active">
              <div class="p-dynabook-2025__busProduct__gallery--pc">
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT210" data-carouselIndex="0">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT210_01.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT210" data-carouselIndex="1">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT210_02.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT210" data-carouselIndex="2">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT210_03.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT210" data-carouselIndex="3">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT210_04.png" alt>
                </button>
              </div>
            </div>
            <div id="areaDT200" class="p-dynabook-2025__busProduct__gallery--list js-target js-target-1">
              <div class="p-dynabook-2025__busProduct__gallery--pc">
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT200" data-carouselIndex="0">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT200_01.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT200" data-carouselIndex="1">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT200_02.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT200" data-carouselIndex="2">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT200_03.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT200" data-carouselIndex="3">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT200_04.png" alt>
                </button>
              </div>
            </div>
            <div id="areaDT200IoT" class="p-dynabook-2025__busProduct__gallery--list js-target js-target-1">
              <div class="p-dynabook-2025__busProduct__gallery--pc">
              <div class="p-dynabook-2025__busProduct__gallery--pc">
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT200IoT" data-carouselIndex="0">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT200IoT_01.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT200IoT" data-carouselIndex="1">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT200IoT_02.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT200IoT" data-carouselIndex="2">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT200IoT_03.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaDT200IoT" data-carouselIndex="3">
                  <img src="<%= pageData.assetPath %>images/business/product/business-notebook-dynadesk-series/gallery_DT200IoT_04.png" alt>
                </button>
              </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <section class="p-dynabook-2025__busProduct__contact l-2025-page__section">
        <div class="l-2025-page__section--head">
          <h2 class="l-2025-page__section--title">お問い合わせ</h2>
        </div>
        <div class="l-2025-page__section--main">
          <p>法人向け製品の導入検討・購入に関するご相談については、Webフォームよりお気軽にお問い合わせください。</p>
          <div class="p-dynabook-2025__busProduct__contact--bottom">
            <a class="p-dynabook-2025__busProduct__contact--button c-btn__linkBase-black c-btn__hover-invert" href="/business/contact/product-01.html">お問い合わせフォーム</a>
          </div>
        </div>
      </section>
      <section class="p-dynabook-2025__busProduct__lineup l-2025-page__section sp-wide-100">
        <div class="l-2025-page__section--head l-2025-page__sp--side">
          <h2 class="l-2025-page__section--title">dynabook  ラインアップ</h2>
        </div>
        <div class="l-2025-page__section--main">
          <div class="p-dynabook-2025__busProduct__lineup--group l-2025-page__sp--side">
            <div class="p-dynabook-2025__busProduct__lineup--title">
              <a href="/business-notebook-b-series/index.html">ビジネスノートPC</a>
            </div>
            <div class="p-dynabook-2025__busProduct__lineup--list">
              <a href="/business/product/business-notebook-b-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">15.6型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Bシリーズ</span>
              </span></a>
            </div>
          </div>
          <div class="p-dynabook-2025__busProduct__lineup--group l-2025-page__sp--side">
            <div class="p-dynabook-2025__busProduct__lineup--title">
              <a href="/business-mobile-notebook-r-series/index.html">ビジネスモバイルノートPC</a>
            </div>
            <div class="p-dynabook-2025__busProduct__lineup--list">
              <a href="/business/product/business-mobile-notebook-x-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型～14.0型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Xシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-g-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Gシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-ga-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">GAシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-sj-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">SJシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-rj-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型～14.0型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">RJシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-mj-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">14.0型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">MJシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-p-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">15.6～16.0型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Pシリーズ</span>
              </span></a>
            </div>
          </div>
          <div class="p-dynabook-2025__busProduct__lineup--group l-2025-page__sp--side">
            <div class="p-dynabook-2025__busProduct__lineup--title">
              <a href="/business-2in1-notebook/index.html">ビジネス5in1／2in1ノートPC</a>
            </div>
            <div class="p-dynabook-2025__busProduct__lineup--list">
              <a href="/business/product/business-2in1-notebook-v-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Vシリーズ</span>
              </span></a>
              <a href="/business/product/business-2in1-notebook-k-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">10.1型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Kシリーズ</span>
              </span></a>
            </div>
          </div>
          <div class="p-dynabook-2025__busProduct__lineup--group l-2025-page__sp--side">
            <div class="p-dynabook-2025__busProduct__lineup--title">
              <a href="/business-desktop-dynadesk-series/index.html">デスクトップPC</a>
            </div>
            <div class="p-dynabook-2025__busProduct__lineup--list">
              <a href="/business/product/business-desktop-dynadesk-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">dynaDesk</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">シリーズ</span>
              </span></a>
            </div>
          </div>
        </div>
        <div class="p-dynabook-2025__busProduct__lineup--bottom l-2025-page__sp--side">
          <a href="/business/product/latest-product-line-up.html" class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white"><span>ビジネスPCラインアップ一覧</span></a>
        </div>
      </section>
      <section class="p-dynabook-2025__busProduct__bottom l-2025-page__section sp-wide-100">
        <div class="l-2025-page__sp--side">
          <a href="/personal/index.html" class="p-dynabook-2025__busProduct__bottom--button">個人向けPCはこちら</a>
        </div>
      </section>
    </div>
  </main>
      <!--./dynabook-2025-main-->
      <!--dynabook-2025-fotter-->
      <%- include( pageData.path+'personal/modules/_fotter.ejs', { pageData: pageData } ); %>
      <!--./dynabook-2025-fotter-->
      <!-- <script src="./assets/js/main.js"></script> -->
      <!-- <script src="./assets/js/header_2025.js"></script> -->
      <!-- <script src="./assets/js/footer_2025.js"></script> -->
      <!-- %- include( pageData.path+'common/_fotter_js.ejs', { pageData: pageData } ); % -->
<div class="p-dynabook-2025__busProduct__galleryModal is-modalTarget">
  <section class="p-dynabook-2025__busProduct__gallery">
    <div class="l-2025-page__section">
      <div class="l-2025-page__section--main p-dynabook-2025__busProduct__gallery--lists">
        <div id="modal-areaDT210" class="p-dynabook-2025__busProduct__gallery--list js-target is-modal-target-1 is-modal-areaDT210">
          <div class="p-dynabook-2025__busProduct__galleryCarousel--wrapper">
            <div class="p-ddata-targetynabook-2025__busProduct__galleryCarousel js-carousel">
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT210_01.png">
              </div>
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT210_02.png">
              </div>
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT210_03.png">
              </div>
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT210_04.png">
              </div>
            </div>
          </div>
        </div>
        <div id="modal-areaDT200" class="p-dynabook-2025__busProduct__gallery--list js-target is-modal-target-1 is-modal-areaDT200">
          <div class="p-dynabook-2025__busProduct__galleryCarousel--wrapper">
            <div class="p-ddata-targetynabook-2025__busProduct__galleryCarousel js-carousel">
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT200_01.png">
              </div>
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT200_02.png">
              </div>
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT200_03.png">
              </div>
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT200_04.png">
              </div>
            </div>
          </div>
        </div>
        <div id="modal-areaDT200IoT" class="p-dynabook-2025__busProduct__gallery--list js-target is-modal-target-1 is-modal-areaDT200IoT">
          <div class="p-dynabook-2025__busProduct__galleryCarousel--wrapper">
            <div class="p-dynabook-2025__busProduct__galleryCarousel js-carousel">
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT200IoT_01.png">
              </div>
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT200IoT_02.png">
              </div>
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT200IoT_03.png">
              </div>
              <div>
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-dynadesk-series/gallery_DT200IoT_04.png">
              </div>
            </div>
          </div>
        </div>
        <div class="p-dynabook-2025__busProduct__gallery--search">
          <div class="p-dynabook-2025__busProduct__gallery--search--type--wrapper">
            <button class="p-dynabook-2025__busProduct__gallery--search--type u-hover-img-bg-cover is-active js-tab is-modal-tabGroup-1" data-target=".is-modal-areaDT210" data-tabContents=".is-modal-target-1" data-lisetList=".is-modal-tabGroup-1">
              <span class="p-dynabook-2025__busProduct__gallery--search--type--icon"></span>DT210/Y
            </button>
            <button class="p-dynabook-2025__busProduct__gallery--search--type u-hover-img-bg-cover is-active js-tab is-modal-tabGroup-1" data-target=".is-modal-areaDT200" data-tabContents=".is-modal-target-1" data-lisetList=".is-modal-tabGroup-1">
              <span class="p-dynabook-2025__busProduct__gallery--search--type--icon"></span>DT200/Y
            </button>
            <button class="p-dynabook-2025__busProduct__gallery--search--type u-hover-img-bg-cover js-tab is-modal-tabGroup-1" data-target=".is-modal-areaDT200IoT" data-tabContents=".is-modal-target-1" data-lisetList=".is-modal-tabGroup-1">
              <span class="p-dynabook-2025__busProduct__gallery--search--type--icon"></span>DT200/IoT
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="/js/assets_2025/individual/slick.min.js"></script>
<script src="/js/assets_2025/individual/jquery.matchHeight-min.js"></script>
<script src="/js/assets_2025/individual/jquery.csv.min.js"></script>
<script src="/js/assets_2025/individual/header_2025.js"></script>
<script src="/js/assets_2025/individual/main_2025.js"></script>
<script src="/js/assets_2025/individual/footer_2025.js"></script>
    </div>
  </body>
</html>