<%
const pageData = {
title: 'ビジネスノートPC B75/LY | ビジネスノートPC | dynabook（ダイナブック公式）',
description: 'dynabook(ダイナブック)の公式法人向けB75LYモデルページです。',
path:'../../../',
assetPath:'/sites/default/files/dynabook-b2b/assets_2025/',
isTop:'true'
}
%>
<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="/etc/clientlibs/foundation/main.min.css" type="text/css">
    <script type="text/javascript" src="/etc/clientlibs/foundation/main.min.js"></script>
    <link href="/etc/designs/default.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/etc/designs/common/clientlibs/css/vendor/style_ex.min.css">
    <link rel="stylesheet" href="/etc/designs/common/clientlibs/css/style.min.css">
    <link rel="stylesheet" href="/etc/designs/common/clientlibs/css/style_dbk_footer.css">
    <link rel="stylesheet" href="/etc/designs/common/clientlibs/css/style_header.css">
    <link rel="stylesheet" href="/etc/designs/common/clientlibs/css/productsearch.css">
    <link rel="stylesheet" href="/etc/designs/common/clientlibs/css/style_sidebar.css">
    <link rel="stylesheet" href="/sites/default/files/dynabook-b2b/business/product/css/index.css">
    <link type="text/css" rel="stylesheet" href="/code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />

    <link rel="stylesheet" href="/etc/designs/aem/clientlibs/css/cqcmpadjust_all.css">

    <script type="text/javascript" src="/content/dam/pcs/jp/ja/dynabook-b2b/js/fontsize.js"></script>
    <link rel="stylesheet" href="/sites/default/files/dynabook-b2b/business/common/css/kankyo.css">

    <link rel="stylesheet" href="/sites/default/files/dynabook-b2b/common/css/app_230428.css">
    <link rel="stylesheet" href="//sites/default/files/dynabook-b2c/common/css/footersns_v2.css">
    <link rel="stylesheet" href="//sites/default/files/dynabook-b2c/common/css/sitemap_wrap.css">
    <link rel="stylesheet" href="/sites/default/files/dynabook-b2b/business/column/common/css/wp_products.css">
    <link rel="stylesheet" href="/sites/default/files/dynabook-b2b/solution/css/contact_form.css">
    <%- include( pageData.path+'common/_meta.ejs', { pageData: pageData } ); %>
    <link rel="stylesheet" media="all" href="/sites/default/files/css/css_hCF6KC4Wjw6MUTAlpYguBpzHicTEPhCSDueYIIBqRSE.css?delta=0&amp;language=ja&amp;theme=dynabook2020&amp;include=eJwrriwuSc3VT0osTtVJqcxLTMrPzzYyMDLQT8_JT0rM0S0uqczJzEsHACVEDo4" />
    <link rel="stylesheet" media="all" href="/sites/default/files/css/css_pY00B7S-3-HkLu1GayikewRgTo-YdIMyqPBPh_Yi6Gw.css?delta=1&amp;language=ja&amp;theme=dynabook2020&amp;include=eJwrriwuSc3VT0osTtVJqcxLTMrPzzYyMDLQT8_JT0rM0S0uqczJzEsHACVEDo4" />
    <link rel="stylesheet" href="/sites/default/files/dynabook-b2b/assets_2025/css/header_2025.css" />
    <link rel="stylesheet" href="/sites/default/files/dynabook-b2b/assets_2025/css/footer_2025.css" />
    <link rel="stylesheet" href="/sites/default/files/dynabook-b2b/assets_2025/css/style_2025.css" />
    <link rel="stylesheet" href="/sites/default/files/dynabook-b2b/assets_2025/css/lower2025.css" />
    <%- include( pageData.path+'common/_header_js.ejs', { pageData: pageData } ); %>

  </head>

  <body>
    <div>
      <!--dynabook-2025-header-->
      <%- include( pageData.path+'business/modules/_header.ejs', { pageData: pageData } ); %>
      <!--./dynabook-2025-header-->
      <!--dynabook-2025-main-->
      <main>
        <!--.l-container-->
        <div class="dynabook-2025 l-container">
          <%- include( pageData.path+'business/modules/_storebnr.ejs', { pageData: pageData } ); %>
          <div class="p-2025-breadcrumb">
            <ol class="p-2025-breadcrumb__list">
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="dbk-2025-breadcrumb__list-item"> <a itemprop="item" href="/index.html"><span itemprop="name">dynabook.com</span></a>
                <meta itemprop="position" content="1">
              </li>
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="dbk-2025-breadcrumb__list-item"> <a itemprop="item" href="/business/index.html"><span itemprop="name">法人のお客様（ビジネスPC・ソリューション）</span></a>
                <meta itemprop="position" content="2">
              </li>
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="dbk-2025-breadcrumb__list-item"> <a itemprop="item" href="/business/product/business-notebook-b-series/index.html"><span itemprop="name">ビジネスノートPC</span></a>
                <meta itemprop="position" content="3">
              </li>
              <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="dbk-2025-breadcrumb__list-item is-current"> <span itemprop="name">B75/LY</span>
                <meta itemprop="position" content="4">
              </li>
            </ol>
          </div>
          <div class="l-2025-container__headlines pg-2025-title">
            <div class="pg-2025-title__inner">
              <h1 class="pg-2025-title__ttle">ビジネスノートPC B75/LY</h1>
            </div>
          </div>
          <div class="dynabook-2025">
            <div class="dbk-2025-product-guide">
              <div class="dbk-2025-product-guide-max">
                <ul class="dbk-2025-local-menu">
                  <li class="dbk-2025-local-menu__item dbk-2025-location-detail-index"><span><span>製品情報</span></span></li>
                  <li class="dbk-2025-local-menu__item dbk-2025-location-detail-color"><a class="u-hover-color" href="/business/product/business-notebook-b-series/b75ly-aug-2024-15-6-inch/spec.html"><span>ラインアップ</span></a></li>
                  <li class="dbk-2025-local-menu__item dbk-2025-location-detail-color"><a class="u-hover-color" href="/business-notebook-b-series/b75ly-aug-2024-15-6-inch/custom/a6bwlyd8561a.html"><span>
カスタマイズ</span></a></li>
                  <li class="dbk-2025-local-menu__item dbk-2025-location-detail-interface"><a class="u-hover-color" href="/business/product/business-notebook-b-series/b75ly-aug-2024-15-6-inch/interface.html"><span>インターフェース</span></a></li>
                </ul>
                <div class="dbk-2025-product-guide-img">
                  <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-notebook-b-series/b75ly-aug-2024-15-6-inch/logo_win11_i7vpro-12_v4.jpg" alt="Windows 11" class="u-img-multiply">
                </div>
              </div>
            </div>

            <div class="dbk-2025-product-direction__wrap">
              <div class="dbk-2025-product-direction__wrap--down">
                <!--dbk-2025-product-access-->
                <div class="dbk-2025-product-access dbk-2025-product-guide-max dbk-2025-product-section__margin-bottom">
                  <div class="dbk-2025-product-access__wrap">
                    <a class="dbk-2025-product-access__btn dbk-2025-product-access__mail u-hover-img-bg-cover" href="#">
                      <span class="dbk-2025-product-access__text ">Webでのお問い合わせ/お見積り</span>
                    </a>
                    <a class="dbk-2025-product-access__btn dbk-2025-product-access__doc u-hover-img-bg-cover" href="#">
                      <span class="dbk-2025-product-access__text ">Webモデル(BZシリーズ)はこちら</span>
                    </a>
                  </div>
                </div>
                <!--./dbk-2025-product-access-->
              </div>
              <div class="dbk-2025-product-direction__wrap--up">
                <!--.dbk-2025-product-main-->
                <div class="dbk-2025-product-main">
                  <div class="dbk-2025-product-guide-max">
                    <div class="dbk-2025-product-main__warap">
                      <div class="dbk-2025-product-main__contents">
                        <div class="dbk-2025-product-head__wrap">
                          <h2 class="dbk-2025-product-overview__title">
                            <span class="dbk-2025-product-overview__title--logo"><img class="u-img" src="<%= pageData.assetPath %>images/common/logo_dynabook.svg" alt></span>
                            <span class="dbk-2025-product-overview__title--text">B75</span>
                          </h2>
                          <p class="dbk-2025-product-main__size">15.6型</p>
                          <div class="dbk-2025-product-main__tag--wrap">
                            <div class="dbk-2025-product-main__tag">DFCI対応機種</div>
                            <div class="dbk-2025-product-main__tag">オフィス内固定席利用が多い方向け</div>
                          </div>
                        </div>
                        <p class="dbk-2025-product-main__text">第13世代 インテル® CPU、インテル® vPro® テクノロジー搭載。メインマシンにふさわしい高性能と使い勝手。光学ドライブ搭載のビジネスノート。</p>
                      </div>
                      <div class="dbk-2025-product-overview__image">
                        <div class="dbk-2025-product-overview__ph">
                          <img class="u-img" src="<%= pageData.assetPath %>images/business/product/business-notebook-b-series/b75ly-aug-2024-15-6-inch/index_product_b75.png" alt>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--./dbk-2025-product-main-->
                <div class="dbk-2025-product-main__sub dbk-2025-product-section__margin-bottom">
                  <div class="dbk-2025-product-guide-max">
                    <div class="dbk-2025-product-main__sub--block">
                      <a class="dbk-2025-product-main__sub--link u-hover-bg-black" href>
                        <span>スペックカスタマイズ</span>
                      </a>
                      <a class="dbk-2025-product-main__sub--link dbk-2025-product-main__sub--link-blank u-hover-bg-black" href target="_blank">
                        <span>仕様表</span>
                      </a>
                      <a class="dbk-2025-product-main__sub--link dbk-2025-product-main__sub--link-blank u-hover-bg-black" href target="_blank">
                        <span>カタログダウンロード[6,490KB]</span>
                      </a>
                      <a class="dbk-2025-product-main__sub--link u-hover-bg-black" href>
                        <span>Bシリーズ</span>
                      </a>
                    </div>
                  </div>
                </div>
                <!--./dbk-2025-product-main-->
              </div>
            </div>

            <div class="dbk-2025-product-navi dbk-2025-product-guide-max dbk-2025-product-section__margin-bottom">
              <div class="dbk-2025-product-navi__wrap">
                <div class="dbk-2025-product-navi__block dbk-2025-product-navi__block--01">
                  <a class="dbk-2025-product-navi__btn u-hover-bg-black" href="#">
                    <span>保守サポート</span>
                  </a>
                  <a class="dbk-2025-product-navi__btn u-hover-bg-black" href="#">
                    <span>オプション</span>
                  </a>
                  <a class="dbk-2025-product-navi__btn u-hover-bg-black" href="#">
                    <span>オプション</span>
                  </a>
                </div>
                <div class="dbk-2025-product-navi__block dbk-2025-product-navi__block--02 ">
                  <div class="dbk-2025-product-subnavi__block">
                    <a class="dbk-2025-product-subnavi__btn dbk-2025-product-main__sub--link-blank u-hover-color" href="#">
                      <span>ソフトウェア</span>
                    </a>
                    <a class="dbk-2025-product-subnavi__btn u-hover-color" href="#">
                      <span>活用編</span>
                    </a>
                    <a class="dbk-2025-product-subnavi__btn u-hover-color" href="#">
                      <span>準備／困ったときは編</span>
                    </a>
                    <a class="dbk-2025-product-subnavi__btn u-hover-color" href="#">
                      <span>BIOS編</span>
                    </a>
                    <a class="dbk-2025-product-subnavi__btn u-hover-color" href="#">
                      <span>電子カタログのダウンロード</span>
                    </a>
                    <a class="dbk-2025-product-subnavi__btn u-hover-color" href="#">
                      <span>取り扱い説明書</span>
                    </a>
                    <a class="dbk-2025-product-subnavi__btn u-hover-color" href="#">
                      <span>スペックから探す</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <!--↓-->

          <!--/↑-->

          <!--./l-container-->
        </div>
      </main>
      <!--./dynabook-2025-main-->
      <!--dynabook-2025-fotter-->
      <%- include( pageData.path+'personal/modules/_fotter.ejs', { pageData: pageData } ); %>

      <script src="/js/assets_2025/individual/header_2025.js"></script>
      <script src="/js/assets_2025/individual/main_2025.js"></script>
      <script src="/js/assets_2025/individual/footer_2025.js"></script>
    </div>
  </body>
</html>