<%
const pageData = {
title: 'サービス・ソリューション | dynabook（ダイナブック公式）',
description: 'dynabook(ダイナブック)の公式法人向けソリューションページです。企業の多様なニーズに応えるための最新ソリューションを紹介し、業務効率化をサポートします。',
path:'../../',
assetPath:'/sites/default/files/dynabook-b2b/assets_2025/',
isTop:'true'
}
%>
<!DOCTYPE html>
<html>
  <head>
    <%- include( pageData.path+'common/_meta.ejs', { pageData: pageData } ); %>
    <%- include( pageData.path+'common/_header_css.ejs', { pageData: pageData } ); %>
    <%- include( pageData.path+'common/_header_js.ejs', { pageData: pageData } ); %>
  </head>

  <body>
    <div>
      <!--dynabook-2025-header-->
      <%- include( pageData.path+'business/modules/_header.ejs', { pageData: pageData } ); %>
      <!--./dynabook-2025-header-->
      <!--dynabook-2025-main-->
      <main>
        <div class="dynabook-2025 l-container">
          <%- include( pageData.path+'business/modules/_storebnr.ejs', { pageData: pageData } ); %>
          <!--↓l-container-->
          <div class="p-dynabook-2025-solutionTop">
            <!--p-dynabook-2025__kv-->
            <div class="p-dynabook-2025__kv solution-top-kv">
              <ul class="p-dynabook-2025__kv--list p-dynabook-2025__kv--base">
                <li class="p-dynabook-2025__kv--item kv-20250520__01">
                  <a class="u-hover-bg-black-child u-hover-scale-child" href="https://www.odex-telex.jp/lp/index.php" target="_blank" id="b_solKV_odex-telex">
                    <div class="p-dynabook-2025__kv--block u-hover-scale-child-target">
                      <div class="p-dynabook-2025__kv--ph">
                        <p><img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/business/solution/top/kv/20250520/kv_20250520_01_ph.jpg" alt></p>
                      </div>
                      <div class="p-dynabook-2025__kv--contents">
                        <div class="p-dynabook-2025__kv--wrap">
                          <div class="p-dynabook-2025__kv-box">
                            <p class="p-dynabook-2025__kv--item"><img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/business/solution/top/kv/20250520/kv-20250520__01.png" alt></p>
                            <p class="p-dynabook-2025__kv--cat">（参加無料・事前登録制）</p>
                            <p class="p-dynabook-2025__kv--title">XRセミナー同時開催</p>
                            <p class="p-dynabook-2025__kv--text">現実とデジタルが融合する時代へ！<br>透過型XRグラスによる未来のDX最前線</p>
                            <p class="p-dynabook-2025__kv--text">2025.6.5　16:20-16:50<br>セミナー会場 E-14-1</p>
                          </div>
                          <div class="p-dynabook-2025__kv--btn">
                            <span class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white u-hover-bg-black-target"><span >参加登録＆事前申し込み</span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__kv--sp">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv/20250520/kv_20250520_01_ph_sp.jpg" alt="デジタル化・DX推進展">
                    </div>
                  </a>
                </li>
                
                <li class="p-dynabook-2025__kv--item kv-20250228__01">
                  
                    <div class="p-dynabook-2025__kv--block u-hover-scale-child-target">
                      <div class="p-dynabook-2025__kv--ph">
                        <p><img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/business/solution/top/kv_20250228_01_ph.jpg" alt></p>
                      </div>
                      <div class="p-dynabook-2025__kv--contents">
                        <div class="p-dynabook-2025__kv--wrap">
                          <div class="p-dynabook-2025__kv-box">
                            <p class="kv-20250228__01__item--01">
                              <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv_20250228_01_item_01.png" alt>
                            </p>
                            <p class="p-dynabook-2025__kv--title2">あなたの可能性を、目の前に</p>
                            <p class="p-dynabook-2025__kv--text">現場DXよりスタートしたdynaEdgeのXR技術が、<br>人とコンピューティングの新しい関係へさらに進化</p>
                          </div>
                          <div class="p-dynabook-2025__kv--btn">
                            <a class="u-hover-bg-black-child" href="/solution/xr/index.html">
                              <span class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white u-hover-bg-black-target"><span >dynaEdge XR1</span></span>
                            </a>
                          </div>
                          <div class="p-dynabook-2025__kv--btn p-dynabook-2025__kv--btn-2">
                            <a class="u-hover-bg-black-child" href="/business/mecd/solution/picking.html">
                              <span class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white u-hover-bg-black-target"><span >ピッキング支援</span></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__kv--sp">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/solution_top_20250516/kv_20250228_01_ph_sp.jpg" alt="dynaEdge XR1 2025年春発売予定 XR1シリーズ">
                      <div class="kv-20250228__01-sp-ui">
                        <div class="p-dynabook-2025__kv--btn">
                          <a href="/solution/xr/index.html">
                            <span class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white"><span >dynaEdge XR1</span></span>
                          </a>
                        </div>
                        <div class="p-dynabook-2025__kv--btn p-dynabook-2025__kv--btn-2">
                          <a  href="/business/mecd/solution/picking.html">
                            <span class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white"><span >ピッキング支援</span></span>
                          </a>
                        </div>
                      </div>
                    </div>
                </li>
                <li class="p-dynabook-2025__kv--item kv-20250228__04">
                  <a class="u-hover-bg-black-child u-hover-scale-child" href="/solution/aisolution/generative-ai/index.html" id="b_solKV_AI">
                    <div class="p-dynabook-2025__kv--block u-hover-scale-child-target">
                      <div class="p-dynabook-2025__kv--ph">
                        <p><img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/business/solution/top/kv_20250422_ph.jpg" alt></p>
                      </div>
                      <div class="p-dynabook-2025__kv--contents">
                        <div class="p-dynabook-2025__kv--wrap">
                          <div class="p-dynabook-2025__kv-box">
                            <p class="p-dynabook-2025__kv--title">生成AI導入支援<br>サービス</p>
                            <p class="p-dynabook-2025__kv--text">お客様が自走できる状態まで<br>Dynabookがサポート！</p>
                          </div>
                          <div class="p-dynabook-2025__kv--btn">
                            <span class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white u-hover-bg-black-target"><span >生成AI導入支援サービス</span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__kv--sp">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv_20250422_ph_sp.jpg" alt="生成AI導入支援サービス お客様が自走できる状態までDynabookがサポート！ 生成AI導入支援サービス">
                    </div>
                  </a>
                </li>
                <li class="p-dynabook-2025__kv--item kv-20250228__04">
                  <a class="u-hover-bg-black-child u-hover-scale-child" href="/solution/outsourcing/autopilot/index.html" id="b_solKV_Autpilot">
                    <div class="p-dynabook-2025__kv--block u-hover-scale-child-target">
                      <div class="p-dynabook-2025__kv--ph">
                        <p><img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/business/solution/top/solution_top_20250516/kv_20250228_04_ph.jpg" alt></p>
                      </div>
                      <div class="p-dynabook-2025__kv--contents">
                        <div class="p-dynabook-2025__kv--wrap">
                          <div class="p-dynabook-2025__kv-box">
                            <p class="p-dynabook-2025__kv--title">キッティングの自動化で<br>情報システム部門の<br>業務負荷を軽減</p>
                            <p class="p-dynabook-2025__kv--text">システム担当者必見！<br>PCの設定やアプリ配信を一括管理</p>
                          </div>
                          <div class="p-dynabook-2025__kv--btn">
                            <span class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white u-hover-bg-black-target"><span >Windows Autopilot<br>導入支援サービス</span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__kv--sp">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/solution_top_20250516/kv_20250228_04_ph_sp.jpg" alt="キッティングの自動化で情報システム部門の業務負荷を軽減 システム担当者必見！PCの設定やアプリ配信を一括管理 Windows Autopilot 導入支援サービス">
                    </div>
                  </a>
                </li>
                <li class="p-dynabook-2025__kv--item kv-20250228__02">
                  <a class="u-hover-bg-black-child u-hover-scale-child" href="/solution/outsourcing/lcm/index.html" id="b_solKV_LCM">
                    <div class="p-dynabook-2025__kv--block u-hover-scale-child-target">
                      <div class="p-dynabook-2025__kv--ph">
                        <p><img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/business/solution/top/solution_top_20250516/kv_20250228_02_ph.jpg" alt></p>
                      </div>
                      <div class="p-dynabook-2025__kv--contents">
                        <div class="p-dynabook-2025__kv--wrap">
                          <div class="p-dynabook-2025__kv-box">
                             <p class="p-dynabook-2025__kv--title3">他社製PCもOK</p>
                            <p class="kv-20250228__02__item--01">
                              <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv_20250228_02_item_01.png" alt>
                            </p>
                            <p class="p-dynabook-2025__kv--title2">キッティングやヘルプデスク業務に<br>追われていませんか？</p>
                            <p class="p-dynabook-2025__kv--text">PCの運用管理はDynabookに<br>おまかせください。</p>
                          </div>
                          <div class="p-dynabook-2025__kv--btn">
                            <span class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white u-hover-bg-black-target"><span >LCM運用サービス</span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__kv--sp">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/solution_top_20250516/kv_20250228_02_ph_sp.jpg" alt="他社製PCもOK キッティングやヘルプデスク業務に追われていませんか？ PCの運用管理はDynabookにおまかせください。">
                    </div>
                  </a>
                </li>
                <li class="p-dynabook-2025__kv--item kv-20250228__03">
                  <a class="u-hover-bg-black-child u-hover-scale-child" href="/solution/outsourcing/lcm/pc-asset.html" id="b_solKV_PCaset">
                    <div class="p-dynabook-2025__kv--block u-hover-scale-child-target">
                      <div class="p-dynabook-2025__kv--ph">
                        <p><img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/business/solution/top/solution_top_20250516/kv_20250228_03_ph.jpg" alt></p>
                      </div>
                      <div class="p-dynabook-2025__kv--contents">
                        <div class="p-dynabook-2025__kv--wrap">
                          <div class="p-dynabook-2025__kv-box">
                            <p class="p-dynabook-2025__kv--title">台帳管理をデジタル化<br>PC位置情報を自動で追跡<br>故障前に不調も検知</p>
                            <p class="p-dynabook-2025__kv--text">PC何台でも月額利用料<br>定額5万円（税抜）</p>
                          </div>
                          <div class="p-dynabook-2025__kv--btn">
                            <span class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white u-hover-bg-black-target"><span >PCアセットモニタリングサービス</span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__kv--sp">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/solution_top_20250516/kv_20250228_03_ph_sp.jpg" alt="自動で追跡不調も検知 保守PCをモニタリング PCアセットモニタリングサービス">
                    </div>
                  </a>
                </li>
                <li class="p-dynabook-2025__kv--item">
                  <a class="u-hover-bg-black-child u-hover-scale-child" href="/business/contents/win11-migration/index.html" id="b_solKV_Win11">
                    <div class="p-dynabook-2025__kv--block u-hover-scale-child-target">
                      <div class="p-dynabook-2025__kv--ph">
                        <p><img class="u-img u-img__fit--cover" src="<%= pageData.assetPath %>images/business/solution/top/kv_20250225_01_ph.jpg" alt></p>
                      </div>
                      <div class="p-dynabook-2025__kv--contents">
                        <div class="p-dynabook-2025__kv--wrap">
                          <div class="p-dynabook-2025__kv-box">
                            <p class="kv-20250225__item--01">
                              <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv_20250225_01_item_01.png" alt>
                            </p>
                            <p class="p-dynabook-2025__kv--text">
                              Windows 11への移行はお済みですか？<br>Dynabookにお気軽にご相談ください
                            </p>
                          </div>
                          <div class="p-dynabook-2025__kv--btn">
                            <span class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white u-hover-bg-black-target"><span class="">詳しくはこちら</span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__kv--sp">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv_20250225_01_ph_sp.jpg" alt="Windows 11 移行なら安心のDynabook Windows 11への移行を検討中でしょうか? 一度、お気軽にDynabookにご相談ください 詳しくはこちら">
                    </div>
                  </a>
                </li>
              </ul>
              <div class="u-display__block--pc">
                <div class="p-dynabook-2025__kv--th">
                  <button class="p-dynabook-2025__kv--th-btn is-active">
                    <div  class="p-dynabook-2025__kv--th-ph">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv/20250520/kv_20250520_01_th.png" alt="">
                    </div>
                    <p class="p-dynabook-2025__kv--th-text">デジタル化・<br>DX推進展</p>
                  </button>
                  <button class="p-dynabook-2025__kv--th-btn is-active">
                    <div  class="p-dynabook-2025__kv--th-ph">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv/kv-th_001.png" alt="">
                    </div>
                    <p class="p-dynabook-2025__kv--th-text">dynaEdge XR1</p>
                  </button>
                  <button class="p-dynabook-2025__kv--th-btn">
                    <div  class="p-dynabook-2025__kv--th-ph">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv/kv-th_006.png" alt="">
                    </div>
                    <p class="p-dynabook-2025__kv--th-text">生成AIサービス</p>
                  </button>
                  <button class="p-dynabook-2025__kv--th-btn">
                    <div  class="p-dynabook-2025__kv--th-ph">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv/kv-th_005.png" alt="">
                    </div>
                    <p class="p-dynabook-2025__kv--th-text">Windows Autopilot<br>導入支援サービス</p>
                  </button>
                  <button class="p-dynabook-2025__kv--th-btn">
                    <div  class="p-dynabook-2025__kv--th-ph">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv/kv-th_003.png" alt="">
                    </div>
                    <p class="p-dynabook-2025__kv--th-text">LCM運用サービス</p>
                  </button>
                  <button class="p-dynabook-2025__kv--th-btn">
                    <div  class="p-dynabook-2025__kv--th-ph">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv/kv-th_004.png" alt="">
                    </div>
                    <p class="p-dynabook-2025__kv--th-text">PCアセットモニタリング</p>
                  </button>
                  <button class="p-dynabook-2025__kv--th-btn">
                    <div  class="p-dynabook-2025__kv--th-ph">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/solution/top/kv/kv-th_002.png" alt="">
                    </div>
                    <p class="p-dynabook-2025__kv--th-text">Windows 11移行</p>
                  </button>
                </div>
              </div>
              <div class="u-display__block--sp">
                <div class="p-dynabook-2025__kv--ui p-dynabook-2025__slider--ui">
                  <button class="p-dynabook-2025__slider--ui--btn p-dynabook-2025__kv--ui-left p-dynabook-2025__slider--arrow-left is-s">
                    <img class="u-img" src="<%= pageData.assetPath %>images/common/arrow_slider.svg" alt>
                  </button>
                  <ul class="p-dynabook-2025__slider--dot--list">
                  </ul>
                  <button class="p-dynabook-2025__slider--ui--btn p-dynabook-2025__kv--ui-right is-s">
                    <img class="u-img" src="<%= pageData.assetPath %>images/common/arrow_slider.svg" alt>
                  </button>
                </div>
              </div>
              <div class="p-dynabook-2025__bnr_win11 p-dynabook-2025__bnr_win11-flex">
                <!-- <a href="/direct/solution/index.html" class="p-dynabook-2025__bnr_xr1-link u-hover-opacity">
                  <span>「dynaEdge XR1」公式オンラインストア</span>
                </a> -->
                <a href="https://www.microsoft.com/windowsforbusiness" class="p-dynabook-2025__bnr_win11-link u-hover-img-opacity" target="_blank">
                  <img class="u-img" src="<%= pageData.assetPath %>images/common/bnr_win11.png" alt>
                </a>
              </div>

            </div>
            <!--./p-dynabook-2025__kv-->
            <div class="p-dynabook-2025-solutionTop--link p-dynabook-2025-solutionTop__container">
              <div class="p-dynabook-2025-solutionTop--link__box">
                <a href="/business/contact.html" class="p-dynabook-2025-solutionTop--link__item u-hover-img-bg-cover" id="b_sol_toiawase01">
                  <div>
                    <img src="<%= pageData.assetPath %>images/business/solution/top/icon-mail.svg" alt="お問い合わせ/お見積り" loading="lazy">
                  </div>
                  <p>お問い合わせ/お見積り</p>
                </a>
                <a href="/business/catalog-download.html#category-tab2" class="p-dynabook-2025-solutionTop--link__item u-hover-img-bg-cover" id="b_sol_dl01">
                  <div>
                    <img src="<%= pageData.assetPath %>images/business/solution/top/icon-down.svg" alt="カタログダウンロード" loading="lazy">
                  </div>
                  <p>カタログダウンロード</p>
                </a>
              </div>
            </div>
            <div class="p-dynabook-2025-solutionTop--list p-dynabook-2025-solutionTop__container p-dynabook-2025-solutionTop--list-01">
              <div class="p-dynabook-2025__solutionThBtn js-slider-3_1">
                <ul class="p-dynabook-2025__solutionThBtn--list js-slider-3_1-list">
                  <li class="p-dynabook-2025__solutionThBtn--item js-slider-3_1-item">
                    <a href="/solution/map.html" class="p-dynabook-2025-solutionTop--list__item u-hover-scale-child u-hover-img-bg-cover-child u-hover-color-p" id="b_sol_pick01">
                      <p>Dynabookのソリューション一覧はこちら</p>
                      <picture class="u-hover-img-bg-cover-child-target">
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/item01-sp.jpg" media="(max-width: 780px)">
                        <img class="u-hover-scale-child-target" src="<%= pageData.assetPath %>images/business/solution/top/item01.jpg" alt="Dynabookのソリューション一覧はこちら" loading="lazy">
                      </picture>
                    </a>
                  </li>
                  <li class="p-dynabook-2025__solutionThBtn--item js-slider-3_1-item">
                    <a href="/solution/pcsolution.html" class="p-dynabook-2025-solutionTop--list__item u-hover-scale-child u-hover-img-bg-cover-child u-hover-color-p" id="b_sol_pick02">
                      <p>目的や課題から最適なソリューションを探す</p>
                      <picture class="u-hover-img-bg-cover-child-target">
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/item02-sp.jpg" media="(max-width: 780px)">
                        <img class="u-hover-scale-child-target" src="<%= pageData.assetPath %>images/business/solution/top/item02.jpg" alt="目的や課題から最適なソリューション を探す" loading="lazy">
                      </picture>
                    </a>
                  </li>
                  <li class="p-dynabook-2025__solutionThBtn--item js-slider-3_1-item">
                    <a href="/business/seminar/archive/index.html" class="p-dynabook-2025-solutionTop--list__item u-hover-scale-child u-hover-img-bg-cover-child u-hover-color-p" id="b_sol_pick03">
                      <p>セミナー動画・ソリューション動画はこちら</p>
                      <picture class="u-hover-img-bg-cover-child-target">
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/item03.jpg" media="(max-width: 780px)">
                        <img class="u-hover-scale-child-target" src="<%= pageData.assetPath %>images/business/solution/top/item03.jpg" alt="セミナー動画・ソリューション動画はこちら" loading="lazy">
                      </picture>
                    </a>
                  </li>
                </ul>
                <div class="p-dynabook-2025__slider--ui p-dynabook-2025__slider--ui--pc">
                  <button class="p-dynabook-2025__slider--ui--btn p-dynabook-2025__slider--arrow-left">
                    <img class="u-img" src="<%= pageData.assetPath %>images/common/arrow_slider.svg" alt>
                  </button>
                  <ul class="p-dynabook-2025__slider--dot--list"></ul>
                  <button class="p-dynabook-2025__slider--ui--btn p-dynabook-2025__slider--arrow-right">
                    <img class="u-img" src="<%= pageData.assetPath %>images/common/arrow_slider.svg" alt>
                  </button>
                </div>
              </div>
            </div>
            <div class="p-dynabook-2025-solutionTop__container">
              <div class="p-biztop-2025-solution">
                <h3 class="p-biztop-2025-solution__title">
                  <span class="p-biztop-2025-solution__mainTitle">ソリューションカテゴリ一覧</span>
                </h3>
                <div class="p-biztop-2025-solution__th--list c-col__flex--5-2">
                  <a class="p-biztop-2025-solution__th--item c-col__flex--5-2-item is-blu-1 c-r-5 u-hover-img-bg-cover u-hover-color--white" href="/business/solution/office/index.html" id="b_solution_menu01">
                    <div class="p-biztop-2025-solution__th--ph">
                      <img class="u-img u-img__fit--contain" src="<%= pageData.assetPath %>images/business/top/solution_th_001.svg" alt>
                    </div>
                    <span class="p-biztop-2025-solution__th--text c-ico__arrow-white">オフィス</span>
                  </a>
                  <a class="p-biztop-2025-solution__th--item c-col__flex--5-2-item is-vio-1 c-r-5 u-hover-img-bg-cover u-hover-color--white" href="/business/solution/genba-dx/index.html" id="b_solution_menu02">
                    <div class="p-biztop-2025-solution__th--ph">
                      <img class="u-img u-img__fit--contain" src="<%= pageData.assetPath %>images/business/top/solution_th_002.svg" alt>
                    </div>
                    <span class="p-biztop-2025-solution__th--text c-ico__arrow-white">現場DX</span>
                  </a>
                  <a class="p-biztop-2025-solution__th--item c-col__flex--5-2-item is-grn-1 c-r-5 u-hover-img-bg-cover u-hover-color--white" href="/business/solution/gtelematics/index.html" id="b_solution_menu03">
                    <div class="p-biztop-2025-solution__th--ph">
                      <img class="u-img u-img__fit--contain" src="<%= pageData.assetPath %>images/business/top/solution_th_003.svg" alt>
                    </div>
                    <span class="p-biztop-2025-solution__th--text c-ico__arrow-white">テレマティクス</span>
                  </a>
                  <a class="p-biztop-2025-solution__th--item c-col__flex--5-2-item is-org-1 c-r-5 u-hover-img-bg-cover u-hover-color--white" href="/solution/dynaschool/index.html" id="b_solution_menu04">
                    <div class="p-biztop-2025-solution__th--ph">
                      <img class="u-img u-img__fit--contain" src="<%= pageData.assetPath %>images/business/top/solution_th_004.svg" alt>
                    </div>
                    <span class="p-biztop-2025-solution__th--text c-ico__arrow-white">教育ICT</span>
                  </a>
                  <a class="p-biztop-2025-solution__th--item c-col__flex--5-2-item is-gry-1 c-r-5 u-hover-img-bg-cover u-hover-color--white" href="/solution/pcsolution.html" id="b_solution_menu05">
                    <div class="p-biztop-2025-solution__th--ph">
                      <img class="u-img u-img__fit--contain" src="<%= pageData.assetPath %>images/business/top/solution_th_005.svg" alt>
                    </div>
                    <span class="p-biztop-2025-solution__th--text c-ico__arrow-white">PC製品</span>
                  </a>
                </div>
              </div>
            </div>
            
            <section class="p-dynabook-2025-solutionTop__container p-dynabook-2025-solutionTop--office">
              
              <div class="p-dynabook-2025-solutionTop--office__top">
                <div class="p-dynabook-2025-solutionTop--office__box">
                  <a href="/business/solution/office/index.html" class="p-dynabook-2025-solutionTop__title">
                    <img class="p-dynabook-2025-solutionTop--office__logo" src="<%= pageData.assetPath %>images/business/solution/top/logo-build.svg" alt="オフィス ソリューション" loading="lazy">
                    <h2>オフィス<br class="p-dynabook-2025-solutionTop__issp"/>ソリューション</h2>
                    <div>
                      <img src="<%= pageData.assetPath %>images/business/solution/top/title-arrow-sp.svg" alt="オフィス ソリューション" loading="lazy">
                    </div>
                  </a>
                  <p class="p-dynabook-2025-solutionTop--office__des">PCの運用管理から、クラウド環境の導入、セキュリティ強化まで、オフィスのPC周辺の課題をまとめてサポート。PCメーカーならではの視点で多様なワークスタイルに対応できる効率的なオフィス環境を実現します。</p>
                </div>
                <picture>
                  <source srcset="<%= pageData.assetPath %>images/business/solution/top/office-top-sp.jpg" media="(max-width: 780px)">
                  <img class="p-dynabook-2025-solutionTop--office__thumb" src="<%= pageData.assetPath %>images/business/solution/top/office-top.jpg" alt="オフィス ソリューション" loading="lazy">
                </picture>
              </div>
              <div class="p-dynabook-2025-solutionTop--office__list">
                <a href="/business/solution/office/index.html#section01" class="p-dynabook-2025-solutionTop--office__item" id="b_office_menu01">
                  <div class="p-dynabook-2025-solutionTop--office__pic">
                    <img class="p-dynabook-2025-solutionTop--office__img" src="<%= pageData.assetPath %>images/business/solution/top/p_icon.svg" alt="PC運用管理" loading="lazy">
                  </div>
                  <div>
                    <div class="p-dynabook-2025-solutionTop--office__content">
                      <span>PC運用管理</span>
                      <picture>
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/arrow-left-sp.png" media="(max-width: 780px)">
                        <img src="<%= pageData.assetPath %>images/business/solution/top/office-arrow.svg" alt="PC運用管理" loading="lazy">
                      </picture>
                    </div>
                    <p>LCM / PC台帳管理システム <br>Autopilot展開 / キッティング<br>Windows 11移行サポート<br>データ消去 / PC買取り</p>
                  </div>
                </a>
                <a href="/business/solution/office/index.html#section05" class="p-dynabook-2025-solutionTop--office__item" id="b_office_menu05">
                  <div class="p-dynabook-2025-solutionTop--office__pic">
                    <img class="p-dynabook-2025-solutionTop--office__img" src="<%= pageData.assetPath %>images/business/solution/top/ico_bag.svg" alt="業務改善" loading="lazy">
                  </div>
                  <div class="p-dynabook-2025-solutionTop--office__content">
                    <span>業務改善</span>
                    <picture>
                      <source srcset="<%= pageData.assetPath %>images/business/solution/top/arrow-left-sp.png" media="(max-width: 780px)">
                      <img src="<%= pageData.assetPath %>images/business/solution/top/office-arrow.svg" alt="業務改善" loading="lazy">
                    </picture>
                  </div>
                </a>
                <a href="/business/solution/office/index.html#section03" class="p-dynabook-2025-solutionTop--office__item" id="b_office_menu03">
                  <div class="p-dynabook-2025-solutionTop--office__pic">
                    <img class="p-dynabook-2025-solutionTop--office__img" src="<%= pageData.assetPath %>images/business/solution/top/security.svg" alt="セキュリティ" loading="lazy">
                  </div>
                  <div class="p-dynabook-2025-solutionTop--office__content">
                    <span>セキュリティ</span>
                    <picture>
                      <source srcset="<%= pageData.assetPath %>images/business/solution/top/arrow-left-sp.png" media="(max-width: 780px)">
                      <img src="<%= pageData.assetPath %>images/business/solution/top/office-arrow.svg" alt="セキュリティ" loading="lazy">
                    </picture>
                  </div>
                </a>
                <a href="/business/solution/office/index.html#section02" class="p-dynabook-2025-solutionTop--office__item" id="b_office_menu02">
                  <div class="p-dynabook-2025-solutionTop--office__pic">
                    <img class="p-dynabook-2025-solutionTop--office__img" src="<%= pageData.assetPath %>images/business/solution/top/cloud.svg" alt="クラウド環境の 導入サポート・利活用" loading="lazy">
                  </div>
                  <div class="p-dynabook-2025-solutionTop--office__content">
                    <span>クラウド環境の<br/>導入サポート・<br class="p-dynabook-2025-solutionTop__ispc"/>利活用サポート
                    </span>
                    <picture>
                      <source srcset="<%= pageData.assetPath %>images/business/solution/top/arrow-left-sp.png" media="(max-width: 780px)">
                      <img src="<%= pageData.assetPath %>images/business/solution/top/office-arrow.svg" alt="クラウド環境の 導入サポート・利活用" loading="lazy">
                    </picture>
                  </div>
                </a>
                <a href="/business/solution/office/index.html#section04" class="p-dynabook-2025-solutionTop--office__item" id="b_office_menu04">
                  <div class="p-dynabook-2025-solutionTop--office__pic">
                    <img class="p-dynabook-2025-solutionTop--office__img" src="<%= pageData.assetPath %>images/business/solution/top/bag.svg" alt="サーバ関連" loading="lazy">
                  </div>
                  <div class="p-dynabook-2025-solutionTop--office__content">
                    <span>サーバ関連</span>
                    <picture>
                      <source srcset="<%= pageData.assetPath %>images/business/solution/top/arrow-left-sp.png" media="(max-width: 780px)">
                      <img src="<%= pageData.assetPath %>images/business/solution/top/office-arrow.svg" alt="サーバ関連" loading="lazy">
                    </picture>
                  </div>
                </a>
              </div>
            </section>
            <section class="p-dynabook-2025-solutionTop--onsite p-dynabook-2025-solutionTop__container">
              <div class="p-dynabook-2025-solutionTop--onsite__box">
                <a href="/business/solution/genba-dx/index.html" class="p-dynabook-2025-solutionTop__title">
                  <img class="p-dynabook-2025-solutionTop--office__logo" src="<%= pageData.assetPath %>images/business/solution/top/logo-people.svg" alt="現場DX ソリューション" loading="lazy">
                  <h2>現場DX<br class="p-dynabook-2025-solutionTop__issp"/>ソリューション</h2>
                  <div>
                    <img src="<%= pageData.assetPath %>images/business/solution/top/title-arrow-sp.svg" alt="オフィス ソリューション" loading="lazy">
                  </div>
                </a>
                <p class="p-dynabook-2025-solutionTop--onsite__des">
                  業務効率化はもちろん、人材不足や品質向上、技能継承など現場特有の課題をサポートします。業務効率化と生産性向上に現場DXプラットフォームをご活用ください。
                </p>
                <p><img class="p-dynabook-2025-solutionTop--onsite__img" src="<%= pageData.assetPath %>images/business/solution/top/onsite-1.jpg" alt="現場DX ソリューション" loading="lazy"></p>
                <div class="p-dynabook-2025-solutionTop--onsite__list">
                  <a href="/business/solution/genba-dx/index.html#section01" class="p-dynabook-2025-solutionTop--onsite__item" id="b_sol_menu01">
                    <div class="p-dynabook-2025-solutionTop--onsite__pic">
                      <img class="p-dynabook-2025-solutionTop--onsite__icon" src="<%= pageData.assetPath %>images/business/solution/top/box1.svg" alt="ピッキング 支援" loading="lazy">
                    </div>
                    <div>
                      <span class="p-dynabook-2025-solutionTop--onsite__name">ピッキング<br class="p-dynabook-2025-solutionTop__ispc"/>支援</span>
                      <picture>
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/arrow-left-sp.png" media="(max-width: 780px)">
                        <img  class="p-dynabook-2025-solutionTop--onsite__arrow" src="<%= pageData.assetPath %>images/business/solution/top/office-arrow.png" alt="ピッキング 支援" loading="lazy"/>
                      </picture>
                    </div>
                  </a>
                  <a href="/business/solution/genba-dx/index.html#section02" class="p-dynabook-2025-solutionTop--onsite__item" id="b_sol_menu02">
                    <div class="p-dynabook-2025-solutionTop--onsite__pic">
                      <img class="p-dynabook-2025-solutionTop--onsite__icon" src="<%= pageData.assetPath %>images/business/solution/top/box2.svg" alt="現場作業 支援" loading="lazy">
                    </div>
                    <div>
                      <span class="p-dynabook-2025-solutionTop--onsite__name">現場作業<br class="p-dynabook-2025-solutionTop__ispc"/>支援</span>
                      <picture>
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/arrow-left-sp.png" media="(max-width: 780px)">
                        <img  class="p-dynabook-2025-solutionTop--onsite__arrow" src="<%= pageData.assetPath %>images/business/solution/top/office-arrow.png" alt="現場作業 支援" loading="lazy"/>
                      </picture>
                    </div>
                  </a>
                  <a href="/business/solution/genba-dx/index.html#section03" class="p-dynabook-2025-solutionTop--onsite__item" id="b_sol_menu03">
                    <div class="p-dynabook-2025-solutionTop--onsite__pic">
                      <img class="p-dynabook-2025-solutionTop--onsite__icon" src="<%= pageData.assetPath %>images/business/solution/top/box3.svg" alt="XRグラス" loading="lazy">
                    </div>
                    <div>
                      <span class="p-dynabook-2025-solutionTop--onsite__name">XRグラス</span>
                      <picture>
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/arrow-left-sp.png" media="(max-width: 780px)">
                        <img  class="p-dynabook-2025-solutionTop--onsite__arrow" src="<%= pageData.assetPath %>images/business/solution/top/office-arrow.png" alt="XRグラス" loading="lazy"/>
                      </picture>
                    </div>
                  </a>
                </div>
              </div>
              <div class="p-dynabook-2025-solutionTop--onsite__box1">
                <a href="/business/solution/gtelematics/index.html" class="p-dynabook-2025-solutionTop__title">
                  <img class="p-dynabook-2025-solutionTop--office__logo" src="<%= pageData.assetPath %>images/business/solution/top/logo-car.svg" alt="テレマティクス ソリューション" loading="lazy">
                  <h2>テレマティクス<br class="p-dynabook-2025-solutionTop__issp"/>ソリューション</h2>
                  <div>
                    <img src="<%= pageData.assetPath %>images/business/solution/top/title-arrow-sp.svg" alt="テレマティクス ソリューション" loading="lazy">
                </div>
                </a>
                <p class="p-dynabook-2025-solutionTop--onsite__des">
                  先進運転支援機能搭載ドライブレコーダーを活用して、運転者の安全運転と管理者の業務効率化をサポートします。
                </p>
              <p><img class="p-dynabook-2025-solutionTop--onsite__img" src="<%= pageData.assetPath %>images/business/solution/top/onsite-2.jpg" alt="テレマティクス ソリューション" loading="lazy"></p>
                <div class="p-dynabook-2025-solutionTop--onsite__list">
                  <a href="/business/solution/gtelematics/index.html#section01" class="p-dynabook-2025-solutionTop--onsite__item" id="b_tel_menu01">
                    <div class="p-dynabook-2025-solutionTop--onsite__pic">
                      <img class="p-dynabook-2025-solutionTop--onsite__icon" src="<%= pageData.assetPath %>images/business/solution/top/box4.svg" alt="テレマティクス サービス" loading="lazy">
                    </div>
                    <div>
                      <span class="p-dynabook-2025-solutionTop--onsite__name">テレマティクス<br class="p-dynabook-2025-solutionTop__ispc"/>サービス</span>
                      <picture>
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/arrow-left-sp.png" media="(max-width: 780px)">
                        <img  class="p-dynabook-2025-solutionTop--onsite__arrow" src="<%= pageData.assetPath %>images/business/solution/top/office-arrow.png" alt="テレマティクス サービス" loading="lazy"/>
                      </picture>
                    </div>
                  </a>
                  <a href="/business/solution/gtelematics/index.html#section02" class="p-dynabook-2025-solutionTop--onsite__item" id="b_tel_menu02">
                    <div class="p-dynabook-2025-solutionTop--onsite__pic">
                      <img class="p-dynabook-2025-solutionTop--onsite__icon" src="<%= pageData.assetPath %>images/business/solution/top/box5.svg" alt="ドライブ レコーダー" loading="lazy">
                    </div>
                    <div>
                      <span class="p-dynabook-2025-solutionTop--onsite__name">ドライブ<br class="p-dynabook-2025-solutionTop__ispc"/>レコーダー</span>
                      <picture>
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/arrow-left-sp.png" media="(max-width: 780px)">
                        <img  class="p-dynabook-2025-solutionTop--onsite__arrow" src="<%= pageData.assetPath %>images/business/solution/top/office-arrow.png" alt="ドライブ レコーダー" loading="lazy"/>
                      </picture>
                    </div>
                  </a>
                  <a href="/business/solution/gtelematics/index.html#section03" class="p-dynabook-2025-solutionTop--onsite__item" id="b_tel_menu03">
                    <div class="p-dynabook-2025-solutionTop--onsite__pic">
                      <img class="p-dynabook-2025-solutionTop--onsite__icon" src="<%= pageData.assetPath %>images/business/solution/top/box6.svg" alt="アルコール チェック管理" loading="lazy">
                    </div>
                    <div>
                      <span class="p-dynabook-2025-solutionTop--onsite__name">アルコール<br class="p-dynabook-2025-solutionTop__ispc"/>チェック管理</span>
                      <picture>
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/arrow-left-sp.png" media="(max-width: 780px)">
                        <img  class="p-dynabook-2025-solutionTop--onsite__arrow" src="<%= pageData.assetPath %>images/business/solution/top/office-arrow.png" alt="アルコール チェック管理" loading="lazy"/>
                      </picture>
                    </div>
                  </a>
                </div>
              </div>
            </section>
            <section class="p-dynabook-2025-solutionTop--edu p-dynabook-2025-solutionTop__container">
              <div class="p-dynabook-2025-solutionTop--edu__box">
                <a href="/solution/dynaschool/index.htmlindex.html" class="p-dynabook-2025-solutionTop__title" id="b_edu_menu">
                  <img class="p-dynabook-2025-solutionTop--office__logo" src="<%= pageData.assetPath %>images/business/solution/top/logo-edu.svg" alt="教育ICT ソリューション" loading="lazy">
                  <h2>教育ICT<br class="p-dynabook-2025-solutionTop__issp"/>ソリューション</h2>
                  <div>
                    <img src="<%= pageData.assetPath %>images/business/solution/top/title-arrow-sp.svg" alt="教育ICT ソリューション" loading="lazy">
                  </div>
                </a>
                <p>これからの教育に求められるICTの計画、導入、運用、保守をワンストップでご支援いたします。学習環境づくりのお手伝いをする各種サービスをご紹介。</p>
              </div>
              <picture>
                <source srcset="<%= pageData.assetPath %>images/business/solution/top/edu-1-sp.jpg" media="(max-width: 780px)">
                <img class="p-dynabook-2025-solutionTop--edu__img" src="<%= pageData.assetPath %>images/business/solution/top/edu-1.jpg" alt="教育ICT ソリューション" loading="lazy">
              </picture>
            </section>
            <section class="p-dynabook-2025-solutionTop__container">
              <div class="p-dynabook-2025-solutionTop--search">
                <button class="p-dynabook-2025-solutionTop--search__top" id="b_sol_find01">
                  <h2>目的や課題から探す</h2>
                  <img class="p-dynabook-2025-solutionTop--search__img js-tab p-top-2025-search__btn--ui" data-target="areaSelect1" src="<%= pageData.assetPath %>images/business/solution/top/arrow-down.svg" alt="目的や課題から探す" loading="lazy">
                </button>
                <div id="areaSelect1" class="p-dynabook-2025-solutionTop__areaSelect p-top-2025-search__area">
                  <div class="p-dynabook-2025-solutionTop--search__box1">
                    <h3>PCデバイスの運用管理・物品管理</h3>
                    <div class="p-dynabook-2025-solutionTop--search__content">
                      <picture>
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/search-1-sp.png" media="(max-width: 780px)">
                        <img class="p-dynabook-2025-solutionTop--search__img1" src="<%= pageData.assetPath %>images/business/solution/top/search-1.png" alt="PCデバイスの運用管理・物品管理" loading="lazy">
                      </picture>
                      <div class="p-dynabook-2025-solutionTop--search__grid">
                        <a href="/solution/outsourcing/lcm/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_A01">
                          <span>PC・デバイスの管理業務</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="PC・デバイスの管理業務" loading="lazy">
                        </a>
                        <a href="/solution/outsourcing/autopilot/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_A02">
                          <span>PCのキッティング・<br class="p-dynabook-2025-solutionTop__ispc">展開作業</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="PCのキッティング・展開作業" loading="lazy">
                        </a>
                        <a href="/solution/outsourcing/support/dataeraser/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_A03">
                          <span>不要PCのデータ消去 ・ 廃棄</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="不要PCのデータ消去 ・ 廃棄" loading="lazy">
                        </a>
                        <a href="/solution/outsourcing/support/purchase/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_A04">
                          <span>不要PCの処分</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="不要PCの処分" loading="lazy">
                        </a>
                        <a href="/solution/dynacloud/dynacloud_mdm.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_A05">
                          <span>リモートでのPC運用管理</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="リモートでのPC運用管理" loading="lazy">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="p-dynabook-2025-solutionTop--search__box2">
                    <h3>リモートワーク・遠隔地サポート</h3>
                    <div class="p-dynabook-2025-solutionTop--search__content">
                      <picture>
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/search-2-sp.png" media="(max-width: 780px)">
                        <img class="p-dynabook-2025-solutionTop--search__img1" src="<%= pageData.assetPath %>images/business/solution/top/search-2.png" alt="リモートワーク・遠隔地サポート" loading="lazy">
                      </picture>
                      <div class="p-dynabook-2025-solutionTop--search__grid">
                        <a href="/solution/outsourcing/autopilot/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_B01">
                          <span>PCのリモート設定 ・ 展開</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="PCのリモート設定・ 展開" loading="lazy">
                        </a>
                        <a href="/solution/security/virtual_connect/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_B02">
                          <span>リモートワーク環境構築</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="リモートワーク環境構築" loading="lazy">
                        </a>
                        <a href="/solution/dynacloud/dynacloud_mdm.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_B03">
                          <span>リモートでのPC運用管理</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="リモートでのPC運用管理" loading="lazy">
                        </a>
                        <a href="/solution/dynacloud/dynacloud_kintai.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_B04">
                          <span>働き方に合わせた勤怠管理</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="働き方に合わせた勤怠管理" loading="lazy">
                        </a>
                        <a href="/business/mecd/solution/vds/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_B05">
                          <span>遠隔支援 ・ サポート</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="遠隔支援 ・ サポート" loading="lazy">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="p-dynabook-2025-solutionTop--search__box3">
                    <h3>業務効率化</h3>
                    <div class="p-dynabook-2025-solutionTop--search__content">
                      <picture>
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/search-3-sp.png" media="(max-width: 780px)">
                        <img class="p-dynabook-2025-solutionTop--search__img1" src="<%= pageData.assetPath %>images/business/solution/top/search-3.png" alt="業務効率化" loading="lazy">
                      </picture>
                      <div class="p-dynabook-2025-solutionTop--search__grid">
                        <a href="/solution/esim/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C01">
                          <span>法人向けMVNOサービス<br>（データ通信4年間無制限）</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="法人向けMVNOサービス（データ通信4年間無制限）" loading="lazy">
                        </a>
                        <a href="/solution/car-telematics/telematics-service/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C02">
                          <span>業務用車両の管理や<br/>運行状況の把握</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="業務用車両の管理や 運行状況の把握" loading="lazy">
                        </a>
                        <a href="/solution/aisolution/generative-ai/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C03">
                          <span>生成AIサービスの導入・<br/>利活用</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="生成AIサービスの導入・利活用" loading="lazy">
                        </a>
                        <a href="/solution/outsourcing/windows-migration/replace.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C04">
                          <span>Windows 11への移行</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="Windows 11への移行" loading="lazy">
                        </a>
                        <a href="/solution/outsourcing/pc-shutdown-system/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C05">
                          <span>ワークライフバランス ・<br/>長時間労働の是正</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="ワークライフバランス ・長時間労働の是正" loading="lazy">
                        </a>
                        <a href="/solution/outsourcing/server-network/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C06">
                          <span>サーバ新規導入・<br/>リプレース</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="サーバ新規導入・リプレース" loading="lazy">
                        </a>
                        <a href="/solution/outsourcing/server-network/index.html#s-m365" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C07">
                          <span>クラウド環境の構築・<br>導入支援サービス</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="Microsoft Officeの 最新化 ・ 最適化" loading="lazy">
                        </a>
                        <a href="/solution/dynacloud/dynacloud_hosting.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C08">
                          <span>ファイル保管・共有・<br/>バックアップ</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="ファイル保管・共有・バックアップ" loading="lazy">
                        </a>
                        <a href="/solution/dynacloud/dynacloud_d-signage.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C09">
                          <span>デジタルサイネージの活用</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="デジタルサイネージの活用" loading="lazy">
                        </a>
                        <a href="/solution/xr/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C10">
                          <span>字幕表示</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="字幕表示" loading="lazy">
                        </a>
                        <a href="/solution/xr/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C11">
                          <span>要約機能</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="要約機能" loading="lazy">
                        </a>
                        <a href="/solution/xr/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C12">
                          <span>自動翻訳</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="自動翻訳" loading="lazy">
                        </a>
                        <a href="/business/mecd/solution/vds/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C13">
                          <span>教育 ・ トレーニング</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="教育 ・ トレーニング" loading="lazy">
                        </a>
                        <a href="/business/mecd/solution/vds/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C14">
                          <span>技能技術継承</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="技能技術継承" loading="lazy">
                        </a>
                        <a href="/business/mecd/solution/picking.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C15">
                          <span>ピッキング作業の効率化</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="ピッキング作業の効率化" loading="lazy">
                        </a>
                        <a href="/business/mecd/solution/vds/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_C16">
                          <span>現場作業のミス防止</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="現場作業のミス防止" loading="lazy">
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="p-dynabook-2025-solutionTop--search__box4">
                    <h3>安全・セキュリティ対策</h3>
                    <div class="p-dynabook-2025-solutionTop--search__content">
                      <picture>
                        <source srcset="<%= pageData.assetPath %>images/business/solution/top/search-4-sp.png" media="(max-width: 780px)">
                        <img class="p-dynabook-2025-solutionTop--search__img1" src="<%= pageData.assetPath %>images/business/solution/top/search-4.png" alt="安全・セキュリティ対策" loading="lazy">
                      </picture>
                      <div class="p-dynabook-2025-solutionTop--search__grid">
                        <a href="/solution/security/withsecure/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_D01">
                          <span>ウィルス対策・<br/>情報漏えい対策</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="ウィルス対策・情報漏えい対策" loading="lazy">
                        </a>
                        <a href="/solution/outsourcing/lcm/pc-asset.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_D02">
                          <span>PCの紛失防止</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="PCの紛失防止" loading="lazy">
                        </a>
                        <a href="/solution/security/smartde/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_D03">
                          <span>PC社外利用時の<br/>セキュリティ</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="PC社外利用時の セキュリティ" loading="lazy">
                        </a>
                        <a href="/solution/security/virtual_connect/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_D04">
                          <span>災害時の業務継続</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="災害時の業務継続" loading="lazy">
                        </a>
                        <a href="/solution/dynacloud/sureserver.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_D05">
                          <span>SSL証明書</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="SSL証明書" loading="lazy">
                        </a>
                        <a href="/solution/car-telematics/drive-recorder/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_D06">
                          <span>業務用車両の危険運転防止</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="業務用車両の危険運転防止" loading="lazy">
                        </a>
                        <a href="/solution/car-telematics/alc-service/index.html" class="p-dynabook-2025-solutionTop--search__item u-hover-img-bg-cover" id="b_sol_D07">
                          <span>アルコールチェック管理の<br/>法令順守</span>
                          <img class="p-dynabook-2025-solutionTop--search__arrow" src="<%= pageData.assetPath %>images/business/solution/top/search-arrow.png" alt="アルコールチェック管理の 法令順守" loading="lazy">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="p-dynabook-2025-solutionTop--link p-dynabook-2025-solutionTop__container">
              <div class="p-dynabook-2025-solutionTop--link__box">
                <a href="/business/contact.html" class="p-dynabook-2025-solutionTop--link__item u-hover-img-bg-cover" id="b_sol_toiawase02">
                  <div>
                    <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/solution/top/icon-mail.svg" alt="お問い合わせ/お見積り" loading="lazy">
                  </div>
                  <p>お問い合わせ/お見積り</p>
                </a>
                <a href="/business/catalog-download.html#category-tab2" class="p-dynabook-2025-solutionTop--link__item u-hover-img-bg-cover" id="b_sol_dl02">
                  <div>
                    <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/solution/top/icon-down.svg" alt="カタログダウンロード" loading="lazy">
                  </div>
                  <p>カタログダウンロード</p>
                </a>
              </div>
            </div>
            <div class="p-dynabook-2025-solutionTop--list1">
              <div class="p-dynabook-2025-solutionTop--list p-dynabook-2025-solutionTop__container">
                <div class="p-dynabook-2025__solutionThBtn js-slider-3_1">
                  <ul class="p-dynabook-2025__solutionThBtn--list js-slider-3_1-list">
                    <li class="p-dynabook-2025__solutionThBtn--item js-slider-3_1-item">
                      <a href="/solution/outsourcing/lcm/index.html" class="p-dynabook-2025-solutionTop--list__item u-hover-scale-child u-hover-img-bg-cover-child u-hover-color-p" id="b_sol_LCM">
                        <p>PCの運用管理についてはこちら</p>
                        <picture class="u-hover-img-bg-cover-child-target">
                          <source srcset="<%= pageData.assetPath %>images/business/solution/top/item04-sp.jpg" media="(max-width: 780px)">
                          <img class="u-hover-scale-child-target" src="<%= pageData.assetPath %>images/business/solution/top/item04.jpg" alt="PCの運用管理についてはこちら" loading="lazy">
                        </picture>
                      </a>
                    </li>
                    <li class="p-dynabook-2025__solutionThBtn--item js-slider-3_1-item">
                      <a href="/solution/outsourcing/lcm/pc-asset.html" class="p-dynabook-2025-solutionTop--list__item u-hover-scale-child u-hover-img-bg-cover-child u-hover-color-p" id="b_sol_aset">
                        <p>Dynabookオリジナルの台帳管理システムはこちら</p>
                        <picture class="u-hover-img-bg-cover-child-target">
                          <source srcset="<%= pageData.assetPath %>images/business/solution/top/item05-sp.jpg" media="(max-width: 780px)">
                          <img class="u-hover-scale-child-target" src="<%= pageData.assetPath %>images/business/solution/top/item05.png" alt="Dynabookオリジナルの台帳管理システムはこちら" loading="lazy">
                        </picture>
                      </a>
                    </li>
                    <li class="p-dynabook-2025__solutionThBtn--item js-slider-3_1-item">
                      <a href="/solution/outsourcing/autopilot/index.html" class="p-dynabook-2025-solutionTop--list__item u-hover-scale-child u-hover-img-bg-cover-child u-hover-color-p" id="b_sol_Autopilot">
                        <p>Windows Autopilot導入支援サービスはこちら</p>
                        <picture class="u-hover-img-bg-cover-child-target">
                          <source srcset="<%= pageData.assetPath %>images/business/solution/top/item06.jpg" media="(max-width: 780px)">
                          <img class="u-hover-scale-child-target" src="<%= pageData.assetPath %>images/business/solution/top/item06.jpg" alt="Windows Autopilot導入支援サービスはこちら" loading="lazy">
                        </picture>
                      </a>
                    </li>
                  </ul>
                  <div class="p-dynabook-2025__slider--ui p-dynabook-2025__slider--ui--pc">
                    <button class="p-dynabook-2025__slider--ui--btn p-dynabook-2025__slider--arrow-left">
                      <img class="u-img" src="<%= pageData.assetPath %>images/common/arrow_slider.svg" alt>
                    </button>
                    <ul class="p-dynabook-2025__slider--dot--list"></ul>
                    <button class="p-dynabook-2025__slider--ui--btn p-dynabook-2025__slider--arrow-right">
                      <img class="u-img" src="<%= pageData.assetPath %>images/common/arrow_slider.svg" alt>
                    </button>
                  </div>
                </div>
              </div>
              <div class="p-dynabook-2025-solutionTop__container">
                <a href="/solution/index.html" class="p-dynabook-2025-solutionTop--list1__btn u-hover-bg-black">
                  <span>ソリューション一覧</span>
                  <picture>
                    <source srcset="<%= pageData.assetPath %>images/business/solution/top/list1-arrow-sp.png" media="(max-width: 780px)">
                    <img src="<%= pageData.assetPath %>images/business/solution/top/icon-arrow.png" alt="ソリューション一覧" loading="lazy">
                  </picture>
                </a>
              </div>
            </div>
          </div>
          <!--↑l-container-->

          <section class="p-dynabook-2025__bizsupport">
            <div class="l-2025-page__section">
              <h2 class="c-title__levelPage-1">各種サポート / サービス</h2>
              <div class="p-biztop-2025-bizsupport__col2">
                <div class="p-biztop-2025-bizsupport__col2--left">
                  <div class="p-biztop-2025-bizsupport--ph">
                    <picture>
                      <source srcset="<%= pageData.assetPath %>images/business/top/bizsupport_th_001_sp.png" media="(max-width: 780px)">
                      <img class="u-img" src="<%= pageData.assetPath %>images/business/top/bizsupport_th_001.png" alt>
                    </picture>
                  </div>
                </div>
                <div class="p-biztop-2025-bizsupport__col2--right">
                  <a class="p-biztop-2025-bizsupport--item u-hover-color--white" href="/assistpc/enchob2b/index_j.htm" id="b_support01">
                    <h3 class="p-biztop-2025-bizsupport--title">
                      <span class="p-biztop-2025-bizsupport--icon">
                        <img class="u-img" src="<%= pageData.assetPath %>images/business/top/bizsupport_ico_001.svg" alt>
                      </span>
                      保守パックサービス
                    </h3>
                    <p class="p-biztop-2025-bizsupport--text">
                      安心で心強いサービスをワンパック。法人向けモデルのメーカー保証を延長するサービスです。
                    </p>
                    <span class="c-ico__arrow-c"><span></span></span>
                    <div class="p-biztop-2025-bizsupport--item--bg"></div>
                  </a>
                  <a class="p-biztop-2025-bizsupport--item u-hover-color--white" href="/assistpc/faq_search/index_j.htm" id="b_support02">
                    <h3 class="p-biztop-2025-bizsupport--title">
                      <span class="p-biztop-2025-bizsupport--icon">
                        <img class="u-img" src="<%= pageData.assetPath %>images/business/top/bizsupport_ico_002.svg" alt>
                      </span>
                      よくあるご質問
                    </h3>
                    <p class="p-biztop-2025-bizsupport--text">
                      パソコン操作やトラブルでお困りの際、こちらのFAQ検索をご活用ください。
                    </p>
                    <span class="c-ico__arrow-c"><span></span></span>
                    <div class="p-biztop-2025-bizsupport--item--bg"></div>
                  </a>
                  <a class="p-biztop-2025-bizsupport--item u-hover-color--white" href="/assistpc/index_j.htm" id="b_support03">
                    <h3 class="p-biztop-2025-bizsupport--title">
                      <span class="p-biztop-2025-bizsupport--icon">
                        <img class="u-img" src="<%= pageData.assetPath %>images/business/top/bizsupport_ico_003.svg" alt>
                      </span>
                      サポート対応
                    </h3>
                    <p class="p-biztop-2025-bizsupport--text">
                      各種サポート/サービスを「カテゴリ別」と「目的別」でご紹介しています。
                    </p>
                    <span class="c-ico__arrow-c"><span></span></span>
                    <div class="p-biztop-2025-bizsupport--item--bg"></div>
                  </a>
                  <a class="p-biztop-2025-bizsupport--item u-hover-color--white" href="/business/contact.html" id="b_support04">
                    <h3 class="p-biztop-2025-bizsupport--title">
                      <span class="p-biztop-2025-bizsupport--icon">
                        <img class="u-img" src="<%= pageData.assetPath %>images/business/top/bizsupport_ico_004.svg" alt>
                      </span>
                      お問い合わせ
                    </h3>
                    <p class="p-biztop-2025-bizsupport--text">
                      法人向け製品の導入検討・購入に関するご相談については、Webフォームよりお問い合わせください。
                    </p>
                    <span class="c-ico__arrow-c"><span></span></span>
                    <div class="p-biztop-2025-bizsupport--item--bg"></div>
                  </a>
                </div>
              </div>
            </div>
          </section>

          <%- include( pageData.path+'business/modules/_dynabookmovie.ejs', { pageData: pageData } ); %>

          <section class="p-dynabook-2025__info u-bg-gray--light">
            <div class="l-2025-page__section">
              <h2 class="c-title__levelPage-1">お知らせ</h2>
              <div class="p-biztop-2025-info js-news-csv" data-dir="dynabook-b2b" data-file="business_news_20250520" data-max="5" data-navi="false">
                <ul class="p-biztop-2025-info__list">
                </ul>
              </div>
              <div class="p-biztop-2025-info__btn">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/news/index.html" id="b_oshirase">お知らせ一覧</a>
              </div>
            </div>
          </section>

          <section class="p-dynabook-2025__reason">
            <div class="p-dynabook-2025__reason--bg">
              <div class="l-2025-page__section">
                <h2 class="c-title__levelPage-1">dynabookが選ばれる理由</h2>
                <div class="p-biztop-2025-reason__col2">
                  <div class="p-biztop-2025-reason__col2--left">
                    <p class="p-biztop-2025-reason--text">
                      dynabookは誕生から35年。企画・開発・製造・販売・サポートを一貫して行い、ハードウェアとソフトウェアの両面からお客様のニーズに応える製品やサービスを追求し、そのノウハウを新しい製品・サービスに活かしてきました。私たちDynabookは積み重ねた挑戦の歴史を礎に、常にお客様のニーズに寄り添い、サポートすることで、これからも多様なビジネスシーンに最適解を提供し続けます。
                    </p>
                  </div>
                  <div class="p-biztop-2025-reason__col2--right">
                    <div class="p-biztop-2025-reasonAward">
                      <div class="p-biztop-2025-reasonAward--left">
                        <img class="u-img" src="<%= pageData.assetPath %>images/business/top/reasonAward_th_001.png" alt>
                      </div>
                      <div class="p-biztop-2025-reasonAward--right">
                        <p class="p-biztop-2025-reasonAward--text">「日経コンピュータ」（2024年9月5日号）<br class="u-display__block--sp">日経コンピュータ 顧客満足度調査 <br class="u-display__block--pc">2024-2025</p>
                        <h3 class="p-biztop-2025-reasonAward--title">クライアントパソコン部門 <br>1位</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="p-dynabook-2025__environment l-2025-page__section p-dynabook-2025__mb-none">
            <h2 class="c-title__levelPage-1">環境への取り組み</h2>
            <div class="p-biztop-2025-environment__block">
              <div class="p-biztop-2025-environment__contents">
                <div class="p-biztop-2025-environment__col">
                  <p class="p-biztop-2025-environment__text">事業経営と環境経営の一体化を目指し、環境設計アセスメントを取り入れた製品開発、省エネ設備や再生可能エネルギーの導入、環境負荷を考慮した調達に取り組んでいます。</p>
                  <a class="c-btn__linkBase-white c-btn__linkBase-r--10 c-ico__arrow-white--btn c-ico__arrow u-hover-bg-gray" href="/pc/env/index.html" id="b_torikumi01">
                    <span class>環境活動</span>
                  </a>
                  <a class="c-btn__linkBase-white c-btn__linkBase-r--10 c-ico__arrow-white--btn c-ico__arrow u-hover-bg-gray" href="/assistpc/purchase/index_j.htm" id="b_torikumi02">
                    <span class>パソコンリサイクル</span>
                  </a>
                </div>
                <div class="p-biztop-2025-environment__ph">
                  <img class="u-img" src="<%= pageData.assetPath %>images/business/top/environment_ph.png" alt>
                </div>
              </div>
            </div>
          </section>

        </div>
        <div class="modal-youtube">
          <div class="modal-youtube-bg"></div>
          <div class="modal-youtube-contents">
            <button class="btn-modal btn-modal__close js-modal-close">
              <img class="u-img" src="<%= pageData.assetPath %>images/common/btn_modal_youtube_close.svg" alt="">
            </button>
            <div class="modal-youtube-wrap">
              <div class="modal-movie ">
                <div id="movie-player"></div>
              </div>
              <div class="modal-youtube-col">
                <p class="modal-youtube-text">※再生ボタンをクリックすると、YouTubeに掲載している動画が再生されます。</p>
                <p class="modal-youtube-text">※YouTubeは弊社とは別企業のサービスであり、各サービスの利用規約に則りご利用ください。</p>
              </div>
              
            </div>
            
          </div>
        </div>
      </main>
      <!--./dynabook-2025-main-->
      <!--dynabook-2025-fotter-->
      <%- include( pageData.path+'personal/modules/_fotter.ejs', { pageData: pageData } ); %>
      <!--./dynabook-2025-fotter-->
      <!-- <script src="./assets/js/main.js"></script> -->
      <!-- <script src="./assets/js/header_2025.js"></script> -->
      <!-- <script src="./assets/js/footer_2025.js"></script> -->
      <%- include( pageData.path+'common/_fotter_js.ejs', { pageData: pageData } ); %>
    </div>
  </body>
</html>