<!-- meta -->
<meta charset="utf-8">
<link rel="canonical" href="/personal/index.html">
<meta name="description" content="<%= pageData.description %>">
<meta name="generator" content="Dynabook CMS system 1.0">
<meta name="Generator" content="Drupal 10 (https://www.drupal.org)">
<meta name="MobileOptimized" content="width">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/themes/dynabook2020/favicon.ico" type="image/vnd.microsoft.icon">

<meta property="og:image" content="<%= pageData.assetPath %>images/common/ogp-image.png">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="<%= pageData.title %>">
<meta property="og:site_name" content="<%= pageData.title %>">
<meta property="og:url" content="/personal/index.html">
<meta property="og:description" content="%= pageData.description %>">
<title><%= pageData.title %></title>
<!-- /meta -->