<header class="dynabook-2025 p-2025-header">
  <div class="p-2025-header__block p-2025-header__block--level-0 p-2025-header__side--padding">
    <div class="p-2025-header__nav-0--wrap">
      <nav class="p-2025-header__nav-0--nav">
        <ul class="p-2025-header__nav-0--list">
          <li class="p-2025-header__nav-0--item u-hover-svg">
            <button class="c-ico__search u-hover-color u-hover-svg-target js-globalSeach-btnOpen">検索</button>
          </li>
          <li class="p-2025-header__nav-0--item">
            <a href="/assistpc/index_j.htm">お問い合わせ</a>
          </li>
          <li class="p-2025-header__nav-0--item">
            <a href="/about-us/outline.html">企業情報</a>
          </li>
          <li class="p-2025-header__nav-0--item">
            <a href="/global/en/index.html">Global Website</a>
          </li>
        </ul>
        <a class="p-2025-header__btnChange u-hover-motion u-hover-bg-black" href="/business/index.html" id="houjin01">法人のお客様</a>
      </nav>
    </div>
  </div>
  <div class="p-2025-header__block p-2025-header__block--level-1 p-2025-header__side--padding">
    <div class="p-2025-header__nav-1--wrap">
      <div class="p-2025-header__heading">
        <a class="p-2025-header__heading--logo" href="/">
          <img class="u-img" src="<%= pageData.assetPath %>images/common/logo_dynabook_black.svg" alt="dynabook">
        </a>
        <a class="p-2025-header__heading--cat u-text__weight--bold u-link__hover--underline" href="/personal/index.html">個人のお客様</a>
        <div class="p-2025-header__sp--ui--box">
          <button class="p-2025-header__sp--btn-open js-megadrop-btn--open">
            <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/ico_header_open.svg" alt>
          </button>
          <button class="p-2025-header__sp--btn-close js-megadrop-btn--close">
            <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/ico_header_close.svg" alt>
          </button>
        </div>
      </div>

      <div class="p-2025-header__menu--wrap">
        <div class="p-2025-header__globalSeach">
          <div class="p-2025-header__globalSeach--wrap">
            <p class="p-2025-header__globalSeach--title">
              <span class="p-2025-header__globalSeach--text p-2025-header__globalSeach--mainText u-text__weight--bold">検索</span>
              <span class="p-2025-header__globalSeach--text p-2025-header__globalSeach--subText u-text__weight--bold">キーワードを入力してください</span>
            </p>
            <div class="p-2025-header__globalSeach--label">
              <label>
                <input type="text" class="p-2025-header__globalSeach--input">
              </label>
              <button class="p-2025-header__globalSeach--btn c-ico__search--before-white"></button>
            </div>
            
          </div>
          <button class="p-2025-header__globalSeach--btnClose js-globalSeach-btnClose">
            <span class="p-2025-header__globalSeach--btnText c-ico__close">閉じる</span>
          </button>
        </div>
        <ul class="c-menu u-text__weight--bold js-megadrop c-menu__wrap--borderTop-sp" id="c-menu">
          <li class="c-menu_list js-megadrop-target is-current">
            <a href="/personal/index.html"><span>トップ</span></a>
          </li>
          <li class="c-menu_list js-megadrop-target">
            <a href="/personal/latest-product-line-up/index.html"><span>最新パソコンラインアップ</span></a>
          </li>
          <li class="c-menu_list p-2025-header__products js-megadrop-target">
            <button class="js-target"><span>製品一覧</span></button>
            <div class="c-menu_contents u-link__hover--underline js-megadrop-content">
              <button class="p-2025-header__btn--back js-megadrop-btn--back">メニュートップに戻る</button>
              <button class="p-2025-header__btn--close js-megadrop-btn--motionClose">
                <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/ico_close_simple.svg" alt>
              </button>
              <div class="u-contents__max-w">
                <div class="c-menu_list--wrap">
                  <div class="c-title__box u-display__block--sp">
                    <span class="c-title__level-1 link-none ">製品一覧</span>
                  </div>
                  <div class="c-menu__box c-menu__box_rev">
                    <div class="c-menu__box--2">
                      <div class="c-menu__block c-menu__block--1">
                        <p class="c-title__cat">ホームノート</p>
                        <ul class="p-2025-header__products--list">
                          <li class="p-2025-header__products--item">
                            <a href="/personal/standard-notebook/t-series/index.html" class="u-hover-img-opacity">
                              <div class="p-2025-header__products--item-1">
                                <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-t.png" alt>
                              </div>
                              <div class="p-2025-header__products--item-2">
                                <p>16.0型<br>Tシリーズ<br><span class="u-text__size--pc-10 u-text__size--sp-10">オールインワンノート</span></p>
                              </div>
                            </a>
                          </li>
                          <li class="p-2025-header__products--item">
                            <a href="/personal/standard-notebook/c-series/index.html" class="u-hover-img-opacity">
                              <div class="p-2025-header__products--item-1">
                                <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-c-7-6.png" alt>
                              </div>
                              <div class="p-2025-header__products--item-2">
                                <p>16.0型<br>Cシリーズ（C7・C6）<br><span class="u-text__size--pc-10 u-text__size--sp-10">スタンダードノート</span></p>
                              </div>
                            </a>
                          </li>
                          <li class="p-2025-header__products--item">
                            <a href="/personal/standard-notebook/c-series/c5-2025-spring-model/index.html" class="u-hover-img-opacity">
                              <div class="p-2025-header__products--item-1">
                                <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-c-5.png" alt>
                              </div>
                              <div class="p-2025-header__products--item-2">
                                <p>15.6型<br>Cシリーズ（C5）<br><span class="u-text__size--pc-10 u-text__size--sp-10">スタンダードノート</span></p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="c-menu__block c-menu__block--2">
                        <p class="c-title__cat">モバイルノート</p>
                        <div class="p-2025-header__products--harf">
                          <ul class="p-2025-header__products--list">
                            <li class="p-2025-header__products--item">
                              <a href="/personal/mobile-notebook/xp-series/index.html" class="u-hover-img-opacity">
                                <div class="p-2025-header__products--item-1">
                                  <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-xp.png" alt>
                                </div>
                                <div class="p-2025-header__products--item-2">
                                  <p>14.0型<br>XPシリーズ<br><span class="u-text__size--pc-10 u-text__size--sp-10">プレミアム<br>モバイルノート</span></p>
                                </div>
                              </a>
                            </li>
                            <li class="p-2025-header__products--item">
                              <a href="/personal/mobile-notebook/r-series/index.html" class="u-hover-img-opacity">
                                <div class="p-2025-header__products--item-1">
                                  <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-r_20250501.png" alt>
                                </div>
                                <div class="p-2025-header__products--item-2">
                                  <p>14.0型<br>Rシリーズ<br><span class="u-text__size--pc-10 u-text__size--sp-10">プレミアム<br>モバイルノート</span></p>
                                </div>
                              </a>
                            </li>
                            <li class="p-2025-header__products--item">
                              <a href="/personal/mobile-notebook/m-series/index.html" class="u-hover-img-opacity">
                                <div class="p-2025-header__products--item-1">
                                  <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-m_20250501.png" alt>
                                </div>
                                <div class="p-2025-header__products--item-2">
                                  <p>14.0型<br>Mシリーズ<br><span class="u-text__size--pc-10 u-text__size--sp-10">ホームモバイルノート</span></p>
                                </div>
                              </a>
                            </li>
                          </ul>
                          <ul class="p-2025-header__products--list">
                            <li class="p-2025-header__products--item">
                              <a href="/personal/mobile-notebook/x-series/index.html" class="u-hover-img-opacity">
                                <div class="p-2025-header__products--item-1">
                                  <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-x.png" alt>
                                </div>
                                <div class="p-2025-header__products--item-2">
                                  <p>13.3型<br>Xシリーズ<br><span class="u-text__size--pc-10 u-text__size--sp-10">プレミアム<br>モバイルノート</span></p>
                                </div>
                              </a>
                            </li>
                            <li class="p-2025-header__products--item">
                              <a href="/personal/mobile-notebook/g-series/index.html" class="u-hover-img-opacity">
                                <div class="p-2025-header__products--item-1">
                                  <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-g_20250501.png" alt>
                                </div>
                                <div class="p-2025-header__products--item-2">
                                  <p>13.3型<br>Gシリーズ<br><span class="u-text__size--pc-10 u-text__size--sp-10">プレミアム<br>モバイルノート</span></p>
                                </div>
                              </a>
                            </li>
                            <li class="p-2025-header__products--item">
                              <a href="/personal/mobile-notebook/gs-series/index.html" class="u-hover-img-opacity">
                                <div class="p-2025-header__products--item-1">
                                  <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-gs.png" alt>
                                </div>
                                <div class="p-2025-header__products--item-2">
                                  <p>13.3型<br>GSシリーズ<br><span class="u-text__size--pc-10 u-text__size--sp-10">スタンダード<br>モバイルノート</span></p>
                                </div>
                              </a>
                            </li>
                            <li class="p-2025-header__products--item">
                              <a href="/personal/mobile-notebook/s-series/index.html" class="u-hover-img-opacity">
                                <div class="p-2025-header__products--item-1">
                                  <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-s_20250501.png" alt>
                                </div>
                                <div class="p-2025-header__products--item-2">
                                  <p>13.3型<br>Sシリーズ<br><span class="u-text__size--pc-10 u-text__size--sp-10">スタンダード<br>モバイルノート</span></p>
                                </div>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="c-menu__block c-menu__block--3">
                        <p class="c-title__cat">5in1／2in1 モバイルノート</p>
                        <ul class="p-2025-header__products--list">
                          <li class="p-2025-header__products--item">
                            <a href="/personal/convertible-notebook/v-series/index.html" class="u-hover-img-opacity">
                              <div class="p-2025-header__products--item-1">
                                <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-v.png" alt>
                              </div>
                              <div class="p-2025-header__products--item-2">
                                <p>13.3型<br>Vシリーズ<br><span class="u-text__size--pc-10 u-text__size--sp-10">5in1プレミアム<br>Penノート</span></p>
                              </div>
                            </a>
                          </li>
                          <li class="p-2025-header__products--item">
                            <a href="/personal/detachable-notebook/k-series/index.html" class="u-hover-img-opacity">
                              <div class="p-2025-header__products--item-1">
                                <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-k_20250501.png" alt>
                              </div>
                              <div class="p-2025-header__products--item-2">
                                <p>10.1型<br>Kシリーズ<br><span class="u-text__size--pc-10 u-text__size--sp-10">2in1デタッチャブル</span></p>
                              </div>
                            </a>
                          </li>
                        </ul>
                        <p class="c-title__cat">周辺機器</p>
                        <ul class="p-2025-header__products--list">
                          <li class="p-2025-header__products--item is-sp-border-none">
                            <a href="/option/index.html" class="u-hover-img-opacity">
                              <div class="p-2025-header__products--item-1">
                                <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/products/products-other.png" alt>
                              </div>
                              <div class="p-2025-header__products--item-2">
                                <p>オプション品<br>対応機種一覧</p>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="c-menu__box--1">
                        <div class="c-title__box u-display__block--pc">
                          <span class="c-title__level-1 c-title__level-1-main link-none ">製品一覧</span>
                          <a href="/personal/latest-product-line-up/index.html" class="u-hover-img-opacity">
                            <span class="c-title__level-1-sub">最新パソコンラインアップ</span>
                          </a>
                        </div>
                        <img class="u-img u-display__block--pc" src="<%= pageData.assetPath %>images/common/menu/products/bnr.png" alt>
                        
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="c-menu_list js-megadrop-target">
            <button class="js-target"><span>スペックから選ぶ</span></button>
            <div class="c-menu_contents u-link__hover--underline js-megadrop-content">
              <button class="p-2025-header__btn--back js-megadrop-btn--back">メニュートップに戻る</button>
              <button class="p-2025-header__btn--close js-megadrop-btn--motionClose">
                <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/ico_close_simple.svg" alt>
              </button>
              <div class="u-contents__max-w">
                <div class="c-menu_list--wrap">
                  <div class="c-title__box u-display__flex u-display__flex--center-v">
                    <p class="c-title__level-1">スペックから選ぶ</p>
                    <p class="c-menu__text">CPU、メモリ、ストレージ容量等の様々な条件を指定して、絞り込み検索が可能です</p>
                    <button class="p-2025-header__ui p-2025-header__search p-2025-header__searchBlock--pc js-specs-btn">
                      <span class="p-2025-header__ui--text c-ico__search--after">検索する</span>
                    </button>
                  </div>
                  





                  <div class="c-menu__box--3 c-menu__flex js-specs">
                    <div class="c-menu__col--block">
                      
                      <p class="c-title__cat js-accordion-header-sp ico-arro-only">製品シリーズ</p>
                      <div class="c-accordion__content--sp">
                        <ul class="p-2025-header__col--list">
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_seri_c-1">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_seri_c-1" value="dynabook Tシリーズ" name="f_seri_c">
                              <span class="c-checkbox_text">dynabook Tシリーズ</span>
                            </label>
                          </li>
                          
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_seri_c-3">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_seri_c-3" value="dynabook Cシリーズ" name="f_seri_c">
                              <span class="c-checkbox_text">dynabook Cシリーズ</span>
                            </label>
                          </li>

                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_seri_c-17">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_seri_c-17" value="dynabook XP CHANGER" name="f_seri_c">
                              <span class="c-checkbox_text">dynabook XPシリーズ</span>
                            </label>
                          </li>

                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_seri_c-9">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_seri_c-9" value="dynabook R シリーズ" name="f_seri_c">
                              <span class="c-checkbox_text">dynabook Rシリーズ</span>
                            </label>
                          </li>
                          

                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_seri_c-4">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_seri_c-4" value="dynabook Mシリーズ" name="f_seri_c">
                              <span class="c-checkbox_text">dynabook Mシリーズ</span>
                            </label>
                          </li>
                          
                          
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_seri_c-2">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_seri_c-2" value="dynabook Xシリーズ" name="f_seri_c">
                              <span class="c-checkbox_text">dynabook Xシリーズ</span>
                            </label>
                          </li>
                          
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_seri_c-6">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_seri_c-6" value="dynabook Gシリーズ" name="f_seri_c">
                              <span class="c-checkbox_text">dynabook Gシリーズ</span>
                            </label>
                          </li>
                          
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_seri_c-7">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_seri_c-7" value="dynabook GSシリーズ" name="f_seri_c">
                              <span class="c-checkbox_text">dynabook GSシリーズ</span>
                            </label>
                          </li>

                          
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_seri_c-8">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_seri_c-8" value="dynabook S シリーズ" name="f_seri_c">
                              <span class="c-checkbox_text">dynabook Sシリーズ</span>
                            </label>
                          </li>

                          
                          

                          
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_seri_c-11">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_seri_c-11" value="dynabook Vシリーズ" name="f_seri_c">
                              <span class="c-checkbox_text">dynabook Vシリーズ</span>
                            </label>
                          </li>

                          
                          <li class="p-2025-header__check--item u-margin-bottom-1-5">
                            <label class="c-checkbox_label" for="dbk-cb-f_seri_c-14">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_seri_c-14" value="dynabook Kシリーズ" name="f_seri_c">
                              <span class="c-checkbox_text">dynabook Kシリーズ</span>
                            </label>
                          </li>

                          
                        </ul>
                      </div>
                      
                    </div>


                    <div class="c-menu__col--block">
                      <p class="c-title__cat js-accordion-header-sp ico-arro-only">OS</p>
                      <div class="c-accordion__content--sp">
                        <ul class="p-2025-header__col--list">
                          <li class="p-2025-header__check--item">
                            <label for="dbk-cb-f_os_s-3" class="c-checkbox_label">
                              <input type="checkbox" id="dbk-cb-f_os_s-3" value="Windows 11 Home" name="f_os_s" class="c-checkbox_icon">
                              <span class="c-checkbox_text">Windows 11 Home</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label for="dbk-cb-f_os_s-4" class="c-checkbox_label">
                              <input type="checkbox" id="dbk-cb-f_os_s-4" value="Windows 11 Pro" name="f_os_s" class="c-checkbox_icon">
                              <span class="c-checkbox_text">Windows 11 Pro</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                      <p class="c-title__cat js-accordion-header-sp ico-arro-only">ディスプレイサイズ</p>
                      <div class="c-accordion__content--sp">
                        <ul class="p-2025-header__col--list">
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_disp-1">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_disp-1" value="10.1%0910.1" name="q_disp">
                              <span class="c-checkbox_text">10.1型</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_disp-2">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_disp-2" value="13.3%0913.3" name="q_disp">
                              <span class="c-checkbox_text">13.3型</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_disp-3">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_disp-3" value="14.0%0914.0" name="q_disp">
                              <span class="c-checkbox_text">14.0型</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_disp-4">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_disp-4" value="15.6%0915.6" name="q_disp">
                              <span class="c-checkbox_text">15.6型</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_disp-5">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_disp-5" value="16.0%0916.0" name="q_disp">
                              <span class="c-checkbox_text">16.0型</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                      <p class="c-title__cat js-accordion-header-sp ico-arro-only">解像度</p>
                      <div class="c-accordion__content--sp">
                        <ul class="p-2025-header__col--list">
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_reso-4">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_reso-4" value="WUXGA (1,920×1,200)" name="f_reso">
                              <span class="c-checkbox_text">WUXGA (1,920×1,200)</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_reso-2">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_reso-2" value="FHD (1,920×1,080)" name="f_reso">
                              <span class="c-checkbox_text">FHD (1,920×1,080)</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_reso-1">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_reso-1" value="HD (1,366×768)" name="f_reso">
                              <span class="c-checkbox_text">HD (1,366×768)</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_reso-3">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_reso-3" value="other" name="f_reso">
                              <span class="c-checkbox_text">その他</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                      
                    </div>


                    <div class="c-menu__col--block">
                      <p class="c-title__cat js-accordion-header-sp ico-arro-only">CPU</p>
                      <div class="c-accordion__content--sp">
                        <ul class="p-2025-header__col--list">
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_cpu-8">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_cpu-8" value="Core Ultra 7" name="f_cpu">
                              <span class="c-checkbox_text">Core Ultra 7</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_cpu-9">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_cpu-9" value="Core Ultra 5" name="f_cpu">
                              <span class="c-checkbox_text">Core Ultra 5</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_cpu-10">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_cpu-10" value="Core 7" name="f_cpu">
                              <span class="c-checkbox_text">Core 7</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_cpu-11">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_cpu-11" value="Core 5" name="f_cpu">
                              <span class="c-checkbox_text">Core 5</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_cpu-1">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_cpu-1" value="Core i7" name="f_cpu">
                              <span class="c-checkbox_text">Core i7</span>
                            </label>
                          </li>
                          
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_cpu-3">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_cpu-3" value="Core i5" name="f_cpu">
                              <span class="c-checkbox_text">Core i5</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_cpu-5">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_cpu-5" value="Core i3" name="f_cpu">
                              <span class="c-checkbox_text">Core i3</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_cpu-6">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_cpu-6" value="Celeron" name="f_cpu">
                              <span class="c-checkbox_text">Celeron</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_cpu-7">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_cpu-7" value="other" name="f_cpu">
                              <span class="c-checkbox_text">その他</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                      <p class="c-title__cat js-accordion-header-sp ico-arro-only">ストレージ</p>
                      <div class="c-accordion__content--sp">
                        <ul class="p-2025-header__col--list">
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_ssd-2">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_ssd-2" value="128%09128" name="q_ssd">
                              <span class="c-checkbox_text">256GB</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_ssd-3">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_ssd-3" value="512%09512" name="q_ssd">
                              <span class="c-checkbox_text">512GB</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_ssd-4">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_ssd-4" value="1000%091000" name="q_ssd">
                              <span class="c-checkbox_text">1TB</span>
                            </label>
                          </li>
                        </ul>
                      </div>

                    </div>


                    <div class="c-menu__col--block">
                      <p class="c-title__cat js-accordion-header-sp ico-arro-only">メモリ</p>
                      <div class="c-accordion__content--sp">
                        <ul class="p-2025-header__col--list">
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_memo-3">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_memo-3" value="8%098" name="q_memo">
                              <span class="c-checkbox_text">8GB</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_memo-5">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_memo-5" value="16%0916" name="q_memo">
                              <span class="c-checkbox_text">16GB</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_memo-1">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_memo-1" value="32%0932" name="q_memo">
                              <span class="c-checkbox_text">32GB</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                      <p class="c-title__cat js-accordion-header-sp ico-arro-only">光学ドライブ</p>
                      <div class="c-accordion__content--sp">
                        <ul class="p-2025-header__col--list">
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_opti-1">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_opti-1" value="ブルーレイドライブ" name="f_opti">
                              <span class="c-checkbox_text">ブルーレイディスクドライブ</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_opti-2">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_opti-2" value="DVDスーパーマルチドライブ" name="f_opti">
                              <span class="c-checkbox_text">DVDスーパーマルチドライブ</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_opti-4">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_opti-4" value="搭載なし" name="f_opti">
                              <span class="c-checkbox_text">搭載なし</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>



                    <div class="c-menu__col--block">
                      <p class="c-title__cat js-accordion-header-sp ico-arro-only">質量</p>
                      <div class="c-accordion__content--sp">
                        <ul class="p-2025-header__col--list">
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_weig-1">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_weig-1" value="*%091.0" name="q_weig">
                              <span class="c-checkbox_text">1.0kg未満</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_weig-2">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_weig-2" value="1.0%091.5" name="q_weig">
                              <span class="c-checkbox_text">1.0kg以上～1.5kg未満</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-q_weig-3">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-q_weig-3" value="1.5%09*" name="q_weig">
                              <span class="c-checkbox_text">1.5kg以上～</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                      <p class="c-title__cat js-accordion-header-sp ico-arro-only">オフィス</p>
                      <div class="c-accordion__content--sp">
                        <ul class="p-2025-header__col--list p-2025-header__col--list-pdl-0">
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_offi-1">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_offi-1" value="Microsoft%20365%20Basic%20%2B%20Office%20Home%20%26%20Business%202024" name="f_offi">
                              <span class="c-checkbox_text">Microsoft 365 Basic + Office Home & Business 2024</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_offi-2">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_offi-2" value="Microsoft%20Office%20Home%20%26%20Business%202021%E3%80%81Microsoft%20365%20Basic" name="f_offi">
                              <span class="c-checkbox_text">Microsoft 365 Basic + Office Home & Business 2021</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                      <p class="c-title__cat js-accordion-header-sp ico-arro-only">カラー</p>
                      <div class="c-accordion__content--sp">
                        <ul class="p-2025-header__col--list">
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_colo-6">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_colo-6" value="*ブルー" name="f_colo">
                              <span class="c-checkbox_text">ブルー系</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_colo-1">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_colo-1" value="*ゴールド" name="f_colo">
                              <span class="c-checkbox_text">ゴールド系</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_colo-3">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_colo-3" value="*シルバー" name="f_colo">
                              <span class="c-checkbox_text">シルバー系</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_colo-4">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_colo-4" value="*ホワイト" name="f_colo">
                              <span class="c-checkbox_text">ホワイト系</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_colo-2">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_colo-2" value="*ブラック" name="f_colo">
                              <span class="c-checkbox_text">ブラック系</span>
                            </label>
                          </li>
                          <li class="p-2025-header__check--item">
                            <label class="c-checkbox_label" for="dbk-cb-f_colo-5">
                              <input class="c-checkbox_icon" type="checkbox" id="dbk-cb-f_colo-5" value="*レッド" name="f_colo">
                              <span class="c-checkbox_text">レッド系</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                      
                    </div>
                  </div>


                  <div class="p-2025-header__searchBlock--sp">
                    <button class="p-2025-header__ui p-2025-header__search js-specs-btn">
                      <span class="p-2025-header__ui--text c-ico__search--after">検索する</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="c-menu_list js-megadrop-target">
            <button class="js-target"><span>サポート情報</span></button>
            <div class="c-menu_contents u-link__hover--underline js-megadrop-content is-noScloll">
              <button class="p-2025-header__btn--back js-megadrop-btn--back">メニュートップに戻る</button>
              <button class="p-2025-header__btn--close js-megadrop-btn--motionClose">
                <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/ico_close_simple.svg" alt>
              </button>
              <div class="u-contents__max-w">
                <div class="c-menu_list--wrap">
                  <div class="c-title__box u-display__block--sp">
                    <span class="c-title__level-1 link-none ">サポート情報</span>
                  </div>
                  <div class="c-menu__box c-menu__box_rev">
                    <div class="c-menu__box--2 c-menu__flex">
                      <div class="c-menu__base--block c-menu__base--block-long">
                        <p class="c-title__cat">各種サポート/サービス</p>
                        <div class="c-menu__box--flex">
                          <ul class="p-2025-header__base--list is-margin-top-spNone">
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/assistpc/index_j.htm">dynabookサポート</a>
                            </li>
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/individual/support/service.html">あんしんサポート/ サービスのご紹介</a>
                            </li>
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/assistpc/support_info/index_j.htm">各種サポート/サービス</a>
                            </li>
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/assistpc/faq_search/index_j.htm">よくあるご質問（FAQ検索）</a>
                            </li>
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/assistpc/ask/tel/index_j.htm">お問い合わせ窓口（電話）</a>
                            </li>
                          </ul>
                          <ul class="p-2025-header__base--list">
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/individual/support/premium-service.html">dynabookプレミアムサービス</a>
                            </li>
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/assistpc/encho/index_j.htm">dynabook プレミアム保証</a>
                            </li>
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/assistpc/various_download/index_j.htm">モジュール型番検索（ダウンロード）</a>
                            </li>
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/assistpc/check/index_j.htm">製品情報検索（仕様/取扱説明書）</a>
                            </li>
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/manual_download/index.html">マニュアルダウンロード<br>（発表年別製品一覧）</a>
                            </li>
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/assistpc/repair/index_j.htm">修理サービス</a>
                            </li>
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/assistpc/relate/index_j.htm">関連情報</a>
                            </li>
                            <li class="p-2025-header__base--item">
                              <a class="p-2025-header__base--text c-ico-pipe" href="/assistpc/tab/index_j.htm">タブレット サポート情報</a>
                            </li>
                          </ul>
                        </div>
                        
                      </div>
                      <div class="c-menu__base--block">
                        <p class="c-title__cat">会員サイト</p>
                        <ul class="p-2025-header__base--list">
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico__link c-ico-pipe" href="https://cocoromembers.jp.sharp/sic-front/member/A070101ViewAction.do?exsiteid=70850" target="_blank">COCORO MEMBERS 新規会員登録</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico__link c-ico-pipe" href="https://cocoromembers.jp.sharp/sic-front/" target="_blank">COCORO MEMBERS</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="c-menu__box--1 u-display__block--pc">
                      <div class="c-title__box">
                        <span class="c-title__level-1 c-title__level-1-main link-none ">サポート情報</span>
                      </div>
                      <a href="/assistpc/ask/tel/index_j.htm" class="u-hover-img-opacity">
                        <img class="u-img u-display__block--pc" src="<%= pageData.assetPath %>images/common/menu/support/bnr_20250228.png" alt>
                        <span class="u-display__block--sp c-ico__arrow--normal">お電話でのご購入相談はこちら</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="c-menu_list js-megadrop-target">
            <button class="js-target"><span>お役立ち情報</span></button>
            <div class="c-menu_contents u-link__hover--underline js-megadrop-content is-noScloll">
              <button class="p-2025-header__btn--back js-megadrop-btn--back">メニュートップに戻る</button>
              <button class="p-2025-header__btn--close js-megadrop-btn--motionClose">
                <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/ico_close_simple.svg" alt>
              </button>
              <div class="u-contents__max-w">
                <div class="c-menu_list--wrap">
                  <div class="c-title__box u-display__block--sp">
                    <span class="c-title__level-1 link-none ">お役立ち情報</span>
                  </div>
                  <div class="c-menu__box c-menu__box_rev">
                    <div class="c-menu__box--2 c-menu__flex">
                      <div class="c-menu__base--block">
                        <p class="c-title__cat">お役立ちコンテンツ</p>
                        <ul class="p-2025-header__base--list">
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text u-text-padding-indent-1em-l c-ico-pipe" href="/personal/win11-migration/index.html">Windows 10のままで、ほんとに大丈夫？</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text u-text-padding-indent-1em-l c-ico-pipe" href="/personal/student/voice2022.html">大学生のためのパソコン選び</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text u-text-padding-indent-1em-l c-ico-pipe" href="/personal/student/index.html">学生向けノートパソコン<br>（学生向けポータル）</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text u-text-padding-indent-1em-l c-ico-pipe" href="/individual/esports/index.html">速く、美しく、ゲームもできる。<br>dynabook</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text u-text-padding-indent-1em-l c-ico-pipe" href="/personal/student/high-school.html">高校生活に最適なPCの選び方のポイント</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico-pipe" href="/individual/related-services/index.html">お役立ちコンテンツ一覧</a>
                          </li>
                        </ul>
                      </div>
                      <div class="c-menu__base--block">
                        <p class="c-title__cat">製品を探す</p>
                        <ul class="p-2025-header__base--list">
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico-pipe" href="/personal/series-select/index.html">シリーズから探す</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico-pipe" href="/personal/size-select/index.html">画面サイズで探す</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico-pipe" href="/individual/latest-product-line-up/comparison.html">比較して探す</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico-pipe" href="/search/index.html">型番や発表時期を検索して探す</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico-pipe" href="/personal/find-your-dynabook/index.htmll">ピッタリのdynabookが見つかる！<br>質問に答えて探す（はじめてガイド）</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico-pipe" href="/personal/latest-product-line-up/index.html">最新パソコンラインアップ</a>
                          </li>
                        </ul>
                      </div>
                      <div class="c-menu__base--block">
                        <p class="c-title__cat">カタログ/マニュアル</p>
                        <ul class="p-2025-header__base--list">
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico-pipe" href="/c/catalog/24-fw-x.pdf">dynabook最新カタログ（2025年2月号）</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico-pipe" href="/c/catalog/25-sm-lu.pdf">モバイルノートカタログ（2025年5月号）</a>
                          </li>
                          <li class="p-2025-header__base--item">
                            <a class="p-2025-header__base--text c-ico-pipe" href="/manual_download/index.html">マニュアルダウンロード<br>（発表年別製品一覧）</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="c-menu__box--1">
                      <div class="c-title__box">
                        <span class="c-title__level-1 c-title__level-1-main link-none ">お役立ち情報</span>
                      </div>
                      
                      <a href="/brand/35th.html" class="u-hover-img-opacity">
                        <img class="u-img u-display__block--pc" src="<%= pageData.assetPath %>images/common/menu/info/bnr.png" alt>
                        <span class="u-display__block--sp c-ico__arrow--normal">dynabook35周年記念スペシャルサイト</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <ul class="p-2025-header__nav-0--list u-display__block--sp">
          <li class="p-2025-header__nav-0--item">
            <a href="/assistpc/index_j.htm">お問い合わせ</a>
          </li>
          <li class="p-2025-header__nav-0--item">
            <a href="/about-us/outline.html">企業情報</a>
          </li>
          <li class="p-2025-header__nav-0--item">
            <a href="/business/index.html">法人のお客様</a>
          </li>
          <li class="p-2025-header__nav-0--item">
            <a href="/global/en/index.html">Global Website</a>
          </li>
        </ul>
        <div class="p-2025-header__btn">
          <a class="p-2025-header__btnContact u-display__block--sp" href="/assistpc/index_j.htm">
            <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/bnr_onlinestore_contact_sp.png" alt="お問い合わせお見積り">
          </a>
          <a class="p-2025-header__btnOnline c-btn__hover-invert" href="/direct/" id="direct01">
            <picture>
              <source srcset="<%= pageData.assetPath %>images/common/menu/bnr_onlinestore_sp.png" media="(max-width: 780px)">
              <img class="u-img" src="<%= pageData.assetPath %>images/common/menu/bnr_onlinestore.png" alt="Dynabook Directオンラインストア">
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>