<%
const pageData = {
title: 'デスクトップPC',
description: 'dynabook(ダイナブック)の公式法人向けデスクトップPCページです。最新モデルやカスタマイズオプションを紹介し、企業の業務効率を向上させるデスクトップPCを提供します。',
path:'../../../',
assetPath:'/sites/default/files/dynabook-b2b/assets_2025/',
isTop:'true'
}
%>
<!DOCTYPE html>
<html>
  <head>
    <%- include( pageData.path+'common/_meta.ejs', { pageData: pageData } ); %>
    <%- include( pageData.path+'common/_header_css.ejs', { pageData: pageData } ); %>
    <%- include( pageData.path+'common/_header_js.ejs', { pageData: pageData } ); %>
  </head>

  <body>
    <div>
      <!--dynabook-2025-header-->
      <%- include( pageData.path+'business/modules/_header.ejs', { pageData: pageData } ); %>
      <!--./dynabook-2025-header-->
      <!--dynabook-2025-main-->
      <main>
        <div class="dynabook-2025 l-container">
          <a class="btn-store__fix" href="/business/contact.html" id="b_toiawase02">
  <picture>
    <source srcset="/sites/default/files/dynabook-b2b/assets_2025/images/business/solution/top/btn_shop_scroll_tab_sp.png" media="(max-width: 780px)">
    <img class="u-img" src="/sites/default/files/dynabook-b2b/assets_2025/images/business/solution/top/btn_shop_scroll_tab.png" alt="お問い合わせ・お見積り">
  </picture>
</a>
          <div class="l-2025-breadcrumb--wrapper">
            <div class="l-2025-breadcrumb">
              <ol class="l-2025-breadcrumb__list" itemscopeitemtype=https://schema.org/BreadcrumbList>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item"> <a itemprop="item" href="/index.html"><span itemprop="name">dynabook.com</span></a>
                  <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item"> <a itemprop="item" href="/business/index.html"><span itemprop="name">法人のお客様（ビジネスPC・ソリューション）</span></a>
                  <meta itemprop="position" content="2">
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item"> <a itemprop="item" href="/business/product/index.html"><span itemprop="name">ビジネスPCラインアップ</span><meta itemprop="position" content="3"></a>
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item is-current"> <span itemprop="name">デスクトップPC</span>
                  <meta itemprop="position" content="4">
                </li>
              </ol>
            </div>
            <div class="l-2025-bnr-win11">
              <div class="l-2025-bnr-win11--inner">
                <span>
                    <img src="/sites/default/files/dynabook-b2b/assets_2025/images/common/bnr_win11-2.png" alt="Elevate potential with Windows 11 Pro devices Windows 11">
                <span>
              </div>
            </div>
          </div>
          <section class="p-dynabook-2025__busProductLatest__lineup p-dynabook-2025__busProductLatest__lineup--second">
            <div class="l-2025-page__section">
              <div class="l-2025-page__section--head">
                <h1 class="l-2025-page__section--title">デスクトップPC</h1>
              </div>
            </div>
          </section>

          <div class="p-dynabook-2025__busProduct" id="business-desktop">
            <div class="dbk-2025-product-main dbk-2025-product-main--mb0">
              <div class="dbk-2025-product-guide-max">
                <div class="dbk-2025-product-main__warap">
                  <div class="dbk-2025-product-main__contents">
                    <div class="dbk-2025-product-head__wrap">
                      <h2 class="c-title__levelPage-1">デスクトップPC</h2>
                      <div class="dbk-2025-product-main__tag--wrap">
                        <div class="dbk-2025-product-main__tag">据え置き使用</div>
                        <div class="dbk-2025-product-main__tag">優れた拡張性</div>
                        <div class="dbk-2025-product-main__tag">豊富なインターフェース</div>
                      </div>
                    </div>
                    <p class="dbk-2025-product-main__sub">コンパクトなサイズにハイパフォーマンスを両立</p>
                    <p class="dbk-2025-product-main__text">最大4画面同時出力に対応する豊富なインターフェースに大容量メモリを搭載可。デスクの上でも邪魔にならない省スペース設計に、多機能な拡張カードに対応するスロットを搭載。ハードワークにも対応するハイパフォーマンスなデスクトップPC。</p>
                  </div>
                  <div class="dbk-2025-product-overview__image">
                    <div class="dbk-2025-product-overview__ph">
                      <img class="u-img" src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/overview__ph-business-desktop.png" alt>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-dynabook-2025__busProduct__product--nav">
            <ul class="p-dynabook-2025__solOffice__head--nav">
              <li><a href="#dynaDeskseries"><span>dynaDesk series</span></a></li>
            </ul>
          </div>
          <section id="dynaDeskseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">
                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">dynaDesk</span>series</h2>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
                  <ul class="p-dynabook-2025__busProduct__product--tab--list">
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn p-dynabook-2025__busProduct__product--tab--btn--texts">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">DT210</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">ハイエンドタイプ</span>
                      </div>
                    </li>
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn p-dynabook-2025__busProduct__product--tab--btn--texts">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">DT200</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">ミドルレンジタイプ</span>
                      </div>
                    </li>
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn p-dynabook-2025__busProduct__product--tab--btn--texts">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">DT200/<br class="u-display__block--sp">loT</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">長時間利用できる<br>特定用途向け</span>
                      </div>
                    </li>
                  </ul>
                  <div class="p-dynabook-2025__busProduct__product--scrollX">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
            <div class="p-dynabook-2025__busProduct__product--class p-dynabook-2025__busProduct__product--class--3">
                    <div class="p-dynabook-2025__busProduct__product--class--text">ハイエンド</div>
                    <div class="p-dynabook-2025__busProduct__product--class--text">スタンダード</div>
                  </div>
                  <div class="p-dynabook-2025__busProduct__product--table">
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                      <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-desktop-dynadesk-series/dt210y-feb-2025-desktop.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>DT210/Y</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-desktop-dynadesk-series/dt200y-aug-2024-desktop.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>DT200/Y</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-desktop-dynadesk-series/dt200u-iot-nov-2022-desktop.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>DT200/IoT</span></a>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第14世代</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第12世代</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">Windows Embedded OS</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i3</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i3</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Celeron®</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i3</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                      <div class="p-dynabook-2025__busProduct__product--th"></div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-desktop-dynadesk-series/dt210y-feb-2025-desktop/custom/a615lyf1311a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-desktop-dynadesk-series/dt200y-aug-2024-desktop/custom/a613kyv8m11a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-desktop-dynadesk-series/dt200u-iot-nov-2022-desktop/spec.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>ラインアップ</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-desktop-dynadesk-series/index.html">
                  <span>dynaDeskシリーズページ</span>
                </a>
              </div>
            </div>
          </section>

          <div class="p-dynabook-2025__busProduct" id="business-notebook">
            <div class="dbk-2025-product-main dbk-2025-product-main--mb0">
              <div class="dbk-2025-product-guide-max">
                <div class="dbk-2025-product-main__warap">
                  <div class="dbk-2025-product-main__contents">
                    <div class="dbk-2025-product-head__wrap">
                      <h2 class="c-title__levelPage-1">ビジネスノートPC</h2>
                      <p class="dbk-2025-product-main__size">15.6型～16.0型</p>
                      <div class="dbk-2025-product-main__tag--wrap">
                        <div class="dbk-2025-product-main__tag">光学ドライブ</div>
                        <div class="dbk-2025-product-main__tag">滅多に持ち歩かない</div>
                      </div>
                    </div>
                    <p class="dbk-2025-product-main__sub">オフィス内での使用に最適な大画面PC</p>
                    <p class="dbk-2025-product-main__text">大画面液晶、打ちやすいキーボードで作業効率が向上。従来のデスクトップPCに比べ、省スペースかつ急な停電時もデータの保存が可能。ポータビリティと優れた拡張性を兼ね備え、快適なオフィスワークを実現。</p>
                  </div>
                  <div class="dbk-2025-product-overview__image">
                    <div class="dbk-2025-product-overview__ph">
                      <img class="u-img" src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/overview__ph-business-notebook.png" alt>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-dynabook-2025__busProduct__product--nav">
            <ul class="p-dynabook-2025__solOffice__head--nav ">
              <li><a href="#Bseries"><span>B series</span></a></li>
              <li><a href="#Pseries"><span>P series</span></a></li>
            </ul>
          </div>
          <section id="Bseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">
                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">B</span>series</h2>
                      <p>15.6型の大画面で作業効率を飛躍的に向上。光学ドライブ、豊富な拡張性、そしてエンパワーテクノロジーを搭載。業務の効率化とセキュリティを両立し、ビジネスの加速を強力にサポートします。</p>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_b.png" alt>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
                  <ul class="p-dynabook-2025__busProduct__product--tab--list">
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">B75</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">ハイエンドタイプ<br>vPro搭載</span>
                      </div>
                    </li>
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">B55</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">幅広い業務に対応できるミドルレンジ</span>
                      </div>
                    </li>
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">B45</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">Celeron搭載でコスト<br>パフォーマンス重視</span>
                      </div>
                    </li>
                  </ul>
                  <div class="p-dynabook-2025__busProduct__product--scrollX">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
            <div class="p-dynabook-2025__busProduct__product--class p-dynabook-2025__busProduct__product--class--5">
                    <div class="p-dynabook-2025__busProduct__product--class--text">ハイエンド</div>
                    <div class="p-dynabook-2025__busProduct__product--class--text">スタンダード</div>
                  </div>
                  <div class="p-dynabook-2025__busProduct__product--table">
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                      <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-notebook-b-series/b75ly-aug-2024-15-6-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>B75/LY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-notebook-b-series/b75ky-aug-2024-15-6-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>B75/KY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-notebook-b-series/b55ly-aug-2024-15-6-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>B55/LY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-notebook-b-series/b55ky-aug-2024-15-6-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>B55/KY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-notebook-b-series/b45ky-aug-2024-15-6-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>B45/KY</span></a>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第12世代</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第12世代</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第12世代</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i3</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Celeron®</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                      <div class="p-dynabook-2025__busProduct__product--th"></div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-notebook-b-series/b75ly-aug-2024-15-6-inch/custom/a6bwlyd8561a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-notebook-b-series/b75ky-aug-2024-15-6-inch/custom/a6bvkyd8561a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-notebook-b-series/b55ly-aug-2024-15-6-inch/custom/a6bwlyl8561a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-notebook-b-series/b55ky-aug-2024-15-6-inch/custom/a6bvkyg8561a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-notebook-b-series/b45ky-aug-2024-15-6-inch/custom/a6bvkyv8561a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-notebook-b-series/index.html">
                  <span>Bシリーズページ</span>
                </a>
              </div>
            </div>
          </section>
          <section id="Pseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">
                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">P</span>series</h2>
                      <p>薄型スリムボディで持ち運びしやすく、外出先でも大画面液晶で快適な業務をサポートする Pシリーズ。高性能CPU搭載で、テレワークでもメインマシンとしても活用できます。</p>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_p-2.png" alt>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
                  <ul class="p-dynabook-2025__busProduct__product--tab--list">
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">P56</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">16.0型ディスプレイ<br>着脱式バッテリーパック</span>
                      </div>
                    </li>
                  </ul>
                  <div class="p-dynabook-2025__busProduct__product--scrollX is-set-1">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
                  <div class="p-dynabook-2025__busProduct__product--table">
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                      <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-notebook-p-series/p56ly-feb-2025-16-0-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>P56/LY</span></a>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                      <div class="p-dynabook-2025__busProduct__product--th"></div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-p-series/p55ly-aug-2024-15-6-inch/custom/a6p8lyl84v4b.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-mobile-notebook-p-series/index.html">
                  <span>Pシリーズページ</span>
                </a>
              </div>
            </div>
          </section>

          <div class="p-dynabook-2025__busProduct" id="business-mobile-notebook">
            <div class="dbk-2025-product-main dbk-2025-product-main--mb0">
              <div class="dbk-2025-product-guide-max">
                <div class="dbk-2025-product-main__warap">
                  <div class="dbk-2025-product-main__contents">
                    <div class="dbk-2025-product-head__wrap">
                      <h2 class="c-title__levelPage-1">ビジネスモバイルノートPC</h2>
                      <p class="dbk-2025-product-main__size">13.3型～14.0型</p>
                      <div class="dbk-2025-product-main__tag--wrap">
                        <div class="dbk-2025-product-main__tag">セルフ交換バッテリー</div>
                        <div class="dbk-2025-product-main__tag">軽量薄型</div>
                        <div class="dbk-2025-product-main__tag">高い堅牢性</div>
                        <div class="dbk-2025-product-main__tag">頻繁に外出先で利用する方向け</div>
                      </div>
                    </div>
                    <p class="dbk-2025-product-main__sub">持ち運びが多いビジネスパーソンをしっかりサポート</p>
                    <p class="dbk-2025-product-main__text">さまざまな耐久テストをクリアした軽量薄型ボディ。長時間駆動かつCPU性能を最大限に引き出すエンパワーテクノロジーを搭載。急速充電、セルフ交換バッテリー機構を搭載したモデルなど、ビジネスを加速するラインアップをご用意。</p>
                  </div>
                  <div class="dbk-2025-product-overview__image">
                    <div class="dbk-2025-product-overview__ph">
                      <img class="u-img" src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/overview__ph-business-mobile-notebook.png" alt>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-dynabook-2025__busProduct__product--nav">
            <ul class="p-dynabook-2025__solOffice__head--nav">
              <li><a href="#Xseries"><span>X series</span></a></li>
              <li><a href="#Gseries"><span>G series</span></a></li>
              <li><a href="#GAseries"><span>GA series</span></a></li>
              <li><a href="#Sjseries"><span>Sj series</span></a></li>
              <li><a href="#Rjseries"><span>Rj series</span></a></li>
              <li><a href="#Mjseries"><span>Mj series</span></a></li>
              <li><a href="#Pmseries"><span>P series</span></a></li>
            </ul>
          </div>


          <section id="Xseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">
                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">X</span>series</h2>
                      <p>バッテリーの劣化や長時間外出される方が安心して利用者自身でバッテリー交換できるXシリーズ。<br>
バッテリーの劣化に伴う交換などで発生していたビジネスダウンタイムを削減。豊富なインターフェースを搭載した高性能パソコンがビジネスを力強くサポートします。</p>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_x.png" alt>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
                  <ul class="p-dynabook-2025__busProduct__product--tab--list">
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">X94</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">「Copilot+ PC」に準拠<br>14.0型ディスプレイ</span>
                      </div>
                    </li>
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">X83</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">13.3型ディスプレイ</span>
                      </div>
                    </li>
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">X74</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">14.0型ディスプレイ</span>
                      </div>
                    </li>
                  </ul>
                  <div class="p-dynabook-2025__busProduct__product--scrollX">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
            <div class="p-dynabook-2025__busProduct__product--class p-dynabook-2025__busProduct__product--class--3">
                    <div class="p-dynabook-2025__busProduct__product--class--text">ハイエンド</div>
                    <div class="p-dynabook-2025__busProduct__product--class--text">スタンダード</div>
                  </div>
                  <div class="p-dynabook-2025__busProduct__product--table">
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                      <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-x-series/x94ny-jan-2025-14-0-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>X94/NY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-x-series/x83ly-aug-2024-13-3-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>X83/LY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-x-series/x74ly-nov-2024-14-0-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>X74/LY</span></a>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">Coreシリーズ2</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; Ultra 7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; Ultra 5</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                      <div class="p-dynabook-2025__busProduct__product--th"></div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-x-series/x94ny-jan-2025-14-0-inch/custom/a6xbnyh54a1a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-x-series/x83ly-aug-2024-13-3-inch/custom/a6x1lyf7211a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-x-series/x74ly-nov-2024-14-0-inch/custom/a6xalyl5aa1a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-mobile-notebook-x-series/index.html">
                  <span>Xシリーズページ</span>
                </a>
              </div>
            </div>
          </section>
          <section id="Gseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">

                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">G</span>series</h2>
                      <p>長時間駆動とモビリティをあらゆる次元で追求したプレミアムモバイルノートパソコン。<br>
オフィスでも外出先でも快適な処理性能と駆動時間、持ち運びの多いパソコンに求められる堅牢性を第三者認証機関によりテストし、徹底検証。メインPCとしての性能も備えた薄型ボディは、さっと持ち出せアクティブに活動できる。dynabookを代表するモバイルノートパソコン。</p>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img class="u-img" src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_g.png" alt>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
                  <div class="p-dynabook-2025__busProduct__product--scrollX">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
            <div class="p-dynabook-2025__busProduct__product--class p-dynabook-2025__busProduct__product--class--3">
                    <div class="p-dynabook-2025__busProduct__product--class--text">ハイエンド</div>
                    <div class="p-dynabook-2025__busProduct__product--class--text">スタンダード</div>
                  </div>
                  <div class="p-dynabook-2025__busProduct__product--table">
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                      <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-g-series/g83my-aug-2024-13-3-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>G83/MY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-g-series/g83ly-aug-2024-13-3-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>G83/LY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-g-series/g83ky-aug-2024-13-3-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>G83/KY</span></a>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">Coreシリーズ1</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第12世代</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; Ultra 7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; Ultra 5</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                      <div class="p-dynabook-2025__busProduct__product--th"></div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-g-series/g83my-aug-2024-13-3-inch/custom/a6g4myh7521a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-g-series/g83ly-aug-2024-13-3-inch/custom/a6g2lyl7521a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-g-series/g83ky-aug-2024-13-3-inch/custom/a6gpkylcd51a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-mobile-notebook-g-series/index.html">
                  <span>Gシリーズページ</span>
                </a>
              </div>
            </div>
          </section>
          <section id="GAseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">
                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">GA</span>series</h2>
                      <p>オフィスでも外出先でも快適な処理性能と駆動時間、持ち運びの多いパソコンに求められる堅牢性をテストし、検証を行ったAMD Ryzen™プロセッサー搭載のモバイルノートパソコン。<br>
軽量薄型で高性能なGAシリーズは、外出先でも快適なビジネスをサポートします。</p>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_ga.png" alt>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
            <div class="p-dynabook-2025__busProduct__product--scrollX is-set-1">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
                  <div class="p-dynabook-2025__busProduct__product--table">
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                      <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-ga-series/ga83xy-aug-2024-13-3-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>GA83/XY</span></a>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">Ryzen&trade;</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Ryzen&trade; 7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Ryzen&trade; 5</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                      <div class="p-dynabook-2025__busProduct__product--th"></div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-ga-series/ga83xy-aug-2024-13-3-inch/custom/a6a1xyl7511a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-mobile-notebook-ga-series/index.html">
                  <span>GAシリーズページ</span>
                </a>
              </div>
            </div>
          </section>
          <section id="Sjseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">
                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">SJ</span>series</h2>
                      <p>アルミニウムボディで軽量化。薄さも奥行きも、高密度設計技術でフットプリントを小型化。お急ぎ30分チャージに対応し、丈夫でモバイルワークでも安心して持ち歩けるスタンダードモバイルノート SJシリーズ。</p>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_sj.png" alt>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
                  <div class="p-dynabook-2025__busProduct__product--scrollX is-set-2">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
            <div class="p-dynabook-2025__busProduct__product--class p-dynabook-2025__busProduct__product--class--2">
                    <div class="p-dynabook-2025__busProduct__product--class--text">ハイエンド</div>
                    <div class="p-dynabook-2025__busProduct__product--class--text">スタンダード</div>
                  </div>
                  <div class="p-dynabook-2025__busProduct__product--table">
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                      <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-sj-series/sj73ly-aug-2024-13-3-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>SJ73/LY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-sj-series/sj73ky-aug-2024-13-3-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>SJ73/KY</span></a>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">Coreシリーズ1</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第12世代</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; 5</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; 3</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i3</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                      <div class="p-dynabook-2025__busProduct__product--th"></div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-sj-series/sj73ly-aug-2024-13-3-inch/custom/a6snlyn8241b.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-sj-series/sj73ky-aug-2024-13-3-inch/custom/a6sjkyg8241b.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-mobile-notebook-sj-series/index.html">
                  <span>SJシリーズページ</span>
                </a>
              </div>
            </div>
          </section>
          <section id="Rjseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">
                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">RJ</span>series</h2>
                      <p>インテル<sup>®</sup> Core™ Ultra プロセッサーと高速メモリ搭載で、軽量、パワフルな処理速度、長時間駆動を実現。RJシリーズは、作業領域の広い14型、13.3型（16:10）液晶を搭載、Web閲覧や表計算ソフトなど縦に広い画面比率が一覧性を高めます。</p>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_rj.png" alt>
                      <p class="p-dynabook-2025__busProduct__product--series--cap">PHOTO:RK74</p>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
                  <ul class="p-dynabook-2025__busProduct__product--tab--list">
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">RJ74</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">14.0型ディスプレイ</span>
                      </div>
                    </li>
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">RJ73</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">13.3型ディスプレイ<span class="is-s">※販売店様、リセラー様向けモデル</span></span>
                      </div>
                    </li>
                  </ul>
                  <div class="p-dynabook-2025__busProduct__product--scrollX">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
            <div class="p-dynabook-2025__busProduct__product--class p-dynabook-2025__busProduct__product--class--4">
                    <div class="p-dynabook-2025__busProduct__product--class--text">ハイエンド</div>
                    <div class="p-dynabook-2025__busProduct__product--class--text">スタンダード</div>
                  </div>
                  <div class="p-dynabook-2025__busProduct__product--table">
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                      <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-rj-series/rj74my-aug-2024-14-0-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>RJ74/MY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-rj-series/rj73my-jan-2025-13-3-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>RJ73/MY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-rj-series/rj74ly-aug-2024-14-0-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>RJ74/LY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-rj-series/rj74ky-aug-2024-14-0-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>RJ74/KY</span></a>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">Coreシリーズ1</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">Coreシリーズ1</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第12世代</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; Ultra 7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; Ultra 5</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; Ultra 7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; Ultra 5</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                      <div class="p-dynabook-2025__busProduct__product--th"></div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-rj-series/rj74my-aug-2024-14-0-inch/custom/a646myfc111a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-rj-series/rj73my-jan-2025-13-3-inch/custom/a631myh7121a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-rj-series/rj74ly-aug-2024-14-0-inch/custom/a645lyfc111a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-rj-series/rj74ky-aug-2024-14-0-inch/custom/a643kyfc111a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-mobile-notebook-rj-series/index.html">
                  <span>RJシリーズページ</span>
                </a>
              </div>
            </div>
          </section>
          <section id="Mjseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">
                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">MJ</span>series</h2>
                      <p>画面に集中しやすい狭額縁設計の14.0型フルHD液晶で、オンライン会議や対面のミーティングでも見やすく、高密度設計技術によるフットプリントの小型化でデスクで場所を取りにくいバランスの良さ。抗菌仕様のオフィス内モバイルノート MJシリーズ。</p>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_mj.png" alt>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
                  <div class="p-dynabook-2025__busProduct__product--scrollX is-set-2">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
            <div class="p-dynabook-2025__busProduct__product--class p-dynabook-2025__busProduct__product--class--2">
                    <div class="p-dynabook-2025__busProduct__product--class--text">ハイエンド</div>
                    <div class="p-dynabook-2025__busProduct__product--class--text">スタンダード</div>
                  </div>
                  <div class="p-dynabook-2025__busProduct__product--table">
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                      <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-mj-series/mj64ly-aug-2024-14-0-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>MJ64/LY</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-mj-series/mj64ky-aug-2024-14-0-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>MJ64/KY</span></a>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">Coreシリーズ1</span>
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第12世代</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; 5</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; 3</span>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i3</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                      <div class="p-dynabook-2025__busProduct__product--th"></div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-mj-series/mj64ly-aug-2024-14-0-inch/custom/a6m4lyn8741b.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-mj-series/mj64ky-aug-2024-14-0-inch/custom/a6m4kyg8741b.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-mobile-notebook-mj-series/index.html">
                  <span>MJシリーズページ</span>
                </a>
              </div>
            </div>
          </section>
          <section id="Pmseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">
                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">P</span>series</h2>
                      <p>薄型スリムボディで持ち運びしやすく、外出先でも大画面液晶で快適な業務をサポートする Pシリーズ。高性能CPU搭載で、テレワークでもメインマシンとしても活用できます。</p>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_p.png" alt>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
                  <ul class="p-dynabook-2025__busProduct__product--tab--list">
                    <li class="p-dynabook-2025__busProduct__product--tab--item">
                      <div class="p-dynabook-2025__busProduct__product--tab--btn">
                        <span class="p-dynabook-2025__busProduct__product--tab--name u-font__en">P55</span>
                        <span class="p-dynabook-2025__busProduct__product--tab--text">15.6型ディスプレイ</span>
                      </div>
                    </li>
                  </ul>
                  <div class="p-dynabook-2025__busProduct__product--scrollX is-set-1">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
                  <div class="p-dynabook-2025__busProduct__product--table">
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                      <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-mobile-notebook-p-series/p55ly-aug-2024-15-6-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>P55/LY</span></a>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                      <div class="p-dynabook-2025__busProduct__product--th"></div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business-mobile-notebook-p-series/p55ly-aug-2024-15-6-inch/custom/a6p8lyl84v4b.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-mobile-notebook-p-series/index.html">
                  <span>Pシリーズページ</span>
                </a>
              </div>
            </div>
          </section>

          <div class="p-dynabook-2025__busProduct" id="business-2in1-notebook">
            <div class="dbk-2025-product-main dbk-2025-product-main--mb0">
              <div class="dbk-2025-product-guide-max">
                <div class="dbk-2025-product-main__warap">
                  <div class="dbk-2025-product-main__contents">
                    <div class="dbk-2025-product-head__wrap">
                      <h2 class="c-title__levelPage-1">ビジネス5in1／2in1PC</h2>
                      <div class="dbk-2025-product-main__tag--wrap">
                        <div class="dbk-2025-product-main__tag">多彩なスタイルで</div>
                        <div class="dbk-2025-product-main__tag">優れた拡張性</div>
                        <div class="dbk-2025-product-main__tag">豊富なインターフェース</div>
                      </div>
                    </div>
                    <p class="dbk-2025-product-main__sub">ノートPCとタブレットの両方を1台に</p>
                    <p class="dbk-2025-product-main__text">ノートのように手を付けてペン入力ができ、資料の添削やクリエイティブな作業も快適。対面時はタブレットスタイルで、オフィス内はノートPCスタイルなど用途に応じて使い分けられる柔軟性が魅力。</p>
                  </div>
                  <div class="dbk-2025-product-overview__image">
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img class="u-img" src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/overview__ph-business-2in1-notebook.png" alt>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-dynabook-2025__busProduct__product--nav">
            <ul class="p-dynabook-2025__solOffice__head--nav">
              <li><a href="#Vseries"><span>V series</span></a></li>
              <li><a href="#Kseries"><span>K series</span></a></li>
            </ul>
          </div>
          <section id="Vseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">
                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">V</span>series</h2>
                      <p>ノートのように手を画面につけてペンを使え、資料への書き込みやクリエイティブな作業も快適。ノートPCとしてもタブレットとしても使える、コンバーチブルタイプ。約17.9mmの薄型軽量、堅牢な長時間駆動モデルVシリーズ。多彩なスタイルがビジネスを加速します。</p>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_v.png" alt>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
                  <div class="p-dynabook-2025__busProduct__product--scrollX">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
            <div class="p-dynabook-2025__busProduct__product--class p-dynabook-2025__busProduct__product--class--2">
                    <div class="p-dynabook-2025__busProduct__product--class--text">ハイエンド</div>
                    <div class="p-dynabook-2025__busProduct__product--class--text">スタンダード</div>
                  </div>
                  
                  <div class="p-dynabook-2025__busProduct__product--table">
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business/product/business-2in1-notebook/v83my-may-2025-13-3-inch-5in1-convertible.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>V83/MY</span></a>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business/product/business-2in1-notebook/v83ly-aug-2024-13-3-inch-5in1-convertible.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>V83/LY</span></a>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business/product/business-2in1-notebook/v83ky-aug-2024-13-3-inch-5in1-convertible.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>V83/KY</span></a>
                </div>
              </div>
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">Coreシリーズ1</span>
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第13世代</span>
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">第12世代</span>
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">vPro</span>
                </div>
              </div>
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; Ultra 7</span>
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; Ultra 5</span>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i7</span>
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Core&trade; i5</span>
                </div>
              </div>
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                <div class="p-dynabook-2025__busProduct__product--th"></div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business-2in1-notebook/v83my-may-2025-13-3-inch-5in1-convertible/custom/a6vsmyh7511a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business-2in1-notebook/v83ly-aug-2024-13-3-inch-5in1-convertible/custom/a6vplyh7511a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                </div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business-2in1-notebook/v83ky-aug-2024-13-3-inch-5in1-convertible/custom/a6vrkyf7d11a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                </div>
              </div>
            </div>
                  
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-2in1-notebook-v-series/index.html">
                  <span>Vシリーズページ</span>
                </a>
              </div>
            </div>
          </section>
          <section id="Kseries" class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
            <div class="l-2025-page__section--main">
              <div class="p-dynabook-2025__busProduct__product--main">
                <div class="l-2025-page__section--head">
                  <div class="p-dynabook-2025__busProduct__product--series">
                    <div class="p-dynabook-2025__busProduct__product--series--title">
                      <h2 class="l-2025-page__section--title u-font__en"><span class="p-dynabook-2025__busProduct__product--series--name">K</span>series</h2>
                      <p>熱可塑性ポリウレタンを採用し滑りにくく落下時の衝撃に対する堅牢性が高いデタッチャブルPC Kシリーズ。<br>
10.1型の小型ボディは、さっとタブレットにして資料を提示、手書きでメモをとるなど、さまざまなビジネスシーンで活用できます。</p>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--series--image">
                      <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_k.png" alt>
                    </div>
                  </div>
                </div>
                <div class="l-2025-page__sp--side">
                  <div class="p-dynabook-2025__busProduct__product--scrollX is-set-1">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
                  <div class="p-dynabook-2025__busProduct__product--table">
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                      <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-2in1-notebook/k70hy-aug-2024-10-1-inch-detachable.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>K70/HY</span></a>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                      <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Celeron®</span>
                        <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Pentium®</span>
                      </div>
                    </div>
                    <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                      <div class="p-dynabook-2025__busProduct__product--th"></div>
                      <div class="p-dynabook-2025__busProduct__product--td">
                        <a href="/business/product/business-2in1-notebook/k70hy-aug-2024-10-1-inch-detachable/spec.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>ラインアップ</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
              <div class="p-dynabook-2025__busProduct__product--bottom">
                <a class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white" href="/business/product/business-2in1-notebook-k-series/index.html">
                  <span>Kシリーズページ</span>
                </a>
              </div>
            </div>
          </section>

      <section class="p-dynabook-2025__busProduct__contact l-2025-page__section">
        <div class="l-2025-page__section--head">
          <h2 class="l-2025-page__section--title">お問い合わせ</h2>
        </div>
        <div class="l-2025-page__section--main">
          <p>法人向け製品の導入検討・購入に関するご相談については、Webフォームよりお気軽にお問い合わせください。</p>
          <div class="p-dynabook-2025__busProduct__contact--bottom">
            <a class="p-dynabook-2025__busProduct__contact--button c-btn__linkBase-black c-btn__hover-invert" href="/business/contact/product-01.html">お問い合わせフォーム</a>
          </div>
        </div>
      </section>

          <div class="p-dynabook-2025__busProductLatest__link--wrapper">
            <section class="p-dynabook-2025__busProductLatest__link l-2025-page__section">
              <div class="l-2025-page__section--main">
                <div class="p-dynabook-2025__busProductLatest__product--main">
                  <div class="p-dynabook-2025__busProductLatest__link--list">
                    <a href="/business/common/2025-jan/register.html" target="_blank" class="p-dynabook-2025__busProductLatest__link--item u-hover-img-bg-cover"><span>
                      <span class="p-dynabook-2025__busProductLatest__link--series">商標・注意について</span>
                    </span></a>
                    <a href="/business/common/2025-jan/chuui.html" target="_blank" class="p-dynabook-2025__busProductLatest__link--item u-hover-img-bg-cover"><span>
                      <span class="p-dynabook-2025__busProductLatest__link--series">仕様上のご注意</span>
                    </span></a>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <section class="p-dynabook-2025__busProduct__bottom l-2025-page__section sp-wide-100">
            <div class="l-2025-page__sp--side">
              <a href="/personal/index.html" class="p-dynabook-2025__busProduct__bottom--button">個人向けPCはこちら</a>
            </div>
          </section>
        </div>
      </main>
      <!--./dynabook-2025-main-->
      <!--dynabook-2025-fotter-->
      <%- include( pageData.path+'personal/modules/_fotter.ejs', { pageData: pageData } ); %>
      <!--./dynabook-2025-fotter-->
      <!-- <script src="./assets/js/main.js"></script> -->
      <!-- <script src="./assets/js/header_2025.js"></script> -->
      <!-- <script src="./assets/js/footer_2025.js"></script> -->
      <%- include( pageData.path+'common/_fotter_js.ejs', { pageData: pageData } ); %>
    </div>
  </body>
</html>
