<%
const pageData = {
  title: 'ハイスタンダードモバイルノートPC GAシリーズ',
  description: 'dynabook(ダイナブック)の公式法人向けGAシリーズモバイルノートPCページです。最新モデルやカスタマイズオプションを紹介し、ビジネスに最適なモバイルノートPCを提供します。',
  path:'../../../',
  assetPath:'/sites/default/files/dynabook-b2b/assets_2025/',
  isTop:'true'
}
%>
<!DOCTYPE html>
<html>
<head>
  <%- include( pageData.path+'common/_meta.ejs', { pageData: pageData } ); %>
  <%- include( pageData.path+'common/_header_css.ejs', { pageData: pageData } ); %>
  <%- include( pageData.path+'common/_header_js.ejs', { pageData: pageData } ); %>
</head>

<body>
<div>
  <!--dynabook-2025-header-->
  <%- include( pageData.path+'business/modules/_header.ejs', { pageData: pageData } ); %>
  <!--./dynabook-2025-header-->
  <!--dynabook-2025-main-->
  <main>
    <div class="dynabook-2025 l-container p-dynabook-2025__busProduct__main">
      <%- include( pageData.path+'business/modules/_storebnr.ejs', { pageData: pageData } ); %>
      <div class="l-2025-breadcrumb--wrapper">
        <div class="l-2025-breadcrumb">
          <ol class="l-2025-breadcrumb__list" itemscopeitemtype=https://schema.org/BreadcrumbList>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item"> <a itemprop="item" href="/index.html"><span itemprop="name">dynabook.com</span></a>
              <meta itemprop="position" content="1">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item"> <a itemprop="item" href="/business/index.html"><span itemprop="name">法人のお客様（ビジネスPC・ソリューション）</span></a>
              <meta itemprop="position" content="2">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item"> <a itemprop="item" href="/business/product/index.html"><span itemprop="name">ビジネスPCラインアップ</span><meta itemprop="position" content="3"></a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item"> <a itemprop="item" href="/business/product/business-mobile-notebook-r-series/index.html"><span itemprop="name">ビジネスモバイルノートPC</span></a>
              <meta itemprop="position" content="4">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="l-2025-breadcrumb__list-item is-current"> <span itemprop="name">GAシリーズ</span>
              <meta itemprop="position" content="5">
            </li>
          </ol>
        </div>
        <div class="l-2025-bnr-win11">
          <div class="l-2025-bnr-win11--inner">
            <span>
                <img src="<%= pageData.assetPath %>images/common/bnr_win11-2.png" alt="Elevate potential with Windows 11 Pro devices Windows 11">
            <span>
          </div>
        </div>
      </div>
      <div class="l-2025-category">
        <div class="l-2025-category--inner">
          <p>ビジネスモバイルノートPC</p>
        </div>
      </div>
      <section class="p-dynabook-2025__busProduct__head l-2025-page__section">
        <div class="p-dynabook-2025__busProduct__head--category">ハイスタンダードモバイルノートPC</div>
        <div class="p-dynabook-2025__busProduct__head--title">
          <div class="p-dynabook-2025__busProduct__head--category">ハイスタンダード<br>モバイルノートPC</div>
          <h1 class="p-dynabook-2025__busProduct__head--mainTitle">GAシリーズ</h1>
        </div>
        <div class="p-dynabook-2025__busProduct__head--subTitle">AMD Ryzen&trade; <br class="u-display__block--sp">プロセッサー搭載。<br>高性能を身近なものに。</div>
        <div class="p-dynabook-2025__busProduct__head--meta">
          <span class="p-dynabook-2025__busProduct__head--type">13.3型</span>
        </div>
      </section>
      <section class="p-dynabook-2025__busProduct__kv l-2025-page__section sp-wide-100">
        <div class="p-dynabook-2025__busProduct__kv--image">
          <picture>
            <source srcset="<%= pageData.assetPath %>images/business/product/business-mobile-notebook-ga-series/kv_sp.jpg" media="(max-width: 780px)">
            <img class="u-img" src="<%= pageData.assetPath %>images/business/product/business-mobile-notebook-ga-series/kv.jpg" alt>
          </picture>
        </div>
        <div class="l-2025-page__sp--side">
          <div class="l-2025-page__section--head">
            <div class="p-dynabook-2025__busProduct__product--series">
              <div class="p-dynabook-2025__busProduct__product--series--title">
                <div class="p-dynabook-2025__busProduct__kv--tag--list">
                  <div class="p-dynabook-2025__busProduct__kv--tag--item">AMD Ryzen&trade;</div>
                  <div class="p-dynabook-2025__busProduct__kv--tag--item">長時間駆動</div>
                  <div class="p-dynabook-2025__busProduct__kv--tag--item">軽量薄型</div>
                  <div class="p-dynabook-2025__busProduct__kv--tag--item">高い堅牢性</div>
                  <div class="p-dynabook-2025__busProduct__kv--tag--item">頻繁に外出先で利用する方向け</div>
                </div>
                <p>オフィスでも外出先でも快適な処理性能と駆動時間、持ち運びの多いパソコンに求められる堅牢性をテストし、検証を行ったAMD Ryzen™プロセッサー搭載のモバイルノートパソコン。<br>
軽量薄型で高性能なGAシリーズは、外出先でも快適なビジネスをサポートします。</p>
              </div>
              <div class="p-dynabook-2025__busProduct__product--series--image">
                <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/latest-product-line-up/series_ga.png" alt>
              </div>
            </div>
          </div>

        </div>
      </section>
      <section class="p-dynabook-2025__busProduct__product l-2025-page__section sp-wide-100">
        <div class="p-dynabook-2025__busProduct__product--main p-dynabook-2025__busProduct__product--main--1">
          <div class="l-2025-page__sp--side">
            <div class="p-dynabook-2025__busProduct__product--scrollX is-set-1">
            <div class="p-dynabook-2025__busProduct__product--scrollXInner">
            <div class="p-dynabook-2025__busProduct__product--table">
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--model">
                <div class="p-dynabook-2025__busProduct__product--th">モデル</div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business/product/business-mobile-notebook-ga-series/ga83xy-aug-2024-13-3-inch.html" class="p-dynabook-2025__busProduct__product--model--button u-hover-img-bg-cover"><span>GA83/XY</span></a>
                </div>
              </div>
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPUInfo">
                <div class="p-dynabook-2025__busProduct__product--th">CPU情報</div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPUInfo--item">Ryzen&trade;</span>
                </div>
              </div>
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--CPULineup">
                <div class="p-dynabook-2025__busProduct__product--th">CPU<br>ラインアップ</div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Ryzen&trade; 7</span>
                  <span class="p-dynabook-2025__busProduct__product--CPULineup--item">Ryzen&trade; 5</span>
                </div>
              </div>
              <div class="p-dynabook-2025__busProduct__product--row p-dynabook-2025__busProduct__product--search">
                <div class="p-dynabook-2025__busProduct__product--th"></div>
                <div class="p-dynabook-2025__busProduct__product--td">
                  <a href="/business-mobile-notebook-ga-series/ga83xy-aug-2024-13-3-inch/custom/a6a1xyl7511a.html" class="p-dynabook-2025__busProduct__product--search--button u-hover-img-bg-cover"><span>カスタマイズ</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class="p-dynabook-2025__busProduct__product--foot">
          <a class="p-dynabook-2025__busProduct__product--btn u-hover-img-bg-cover" href="/business/contact/product-01.html"><span>
            <img src="<%= pageData.assetPath %>images/common/ico_contact.svg" alt>
            <span>お問い合わせ</span>
          </span></a>
        </div>
      </section>
      <section class="p-dynabook-2025__busProduct__gallery">
        <div class="l-2025-page__section">
          <div class="l-2025-page__section--head">
            <h2 class="l-2025-page__section--title">デザインギャラリー</h2>
          </div>
          <div class="l-2025-page__section--main">
            <div id="areaGA83" class="p-dynabook-2025__busProduct__gallery--list js-target js-target-1 is-active">
              <div class="p-dynabook-2025__busProduct__gallery--pc">
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaGA83" data-carouselIndex="0">
                  <img src="<%= pageData.assetPath %>images/business/product/business-mobile-notebook-ga-series/gallery_GA83_01.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaGA83" data-carouselIndex="1">
                  <img src="<%= pageData.assetPath %>images/business/product/business-mobile-notebook-ga-series/gallery_GA83_02.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaGA83" data-carouselIndex="2">
                  <img src="<%= pageData.assetPath %>images/business/product/business-mobile-notebook-ga-series/gallery_GA83_03.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaGA83" data-carouselIndex="3">
                  <img src="<%= pageData.assetPath %>images/business/product/business-mobile-notebook-ga-series/gallery_GA83_04.png" alt>
                </button>
                <button type="button" class="p-dynabook-2025__busProduct__gallery--item c-btn__linkBase-r--10 u-hover-img-bg-cover c-r-10 is-modalBtn is-modal-pc" data-modalTarget=".p-dynabook-2025__busProduct__galleryModal" data-galleryTarget=".is-modal-areaGA83" data-carouselIndex="4">
                  <img src="<%= pageData.assetPath %>images/business/product/business-mobile-notebook-ga-series/gallery_GA83_05.png" alt>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="p-dynabook-2025__busProduct__contact l-2025-page__section">
        <div class="l-2025-page__section--head">
          <h2 class="l-2025-page__section--title">お問い合わせ</h2>
        </div>
        <div class="l-2025-page__section--main">
          <p>法人向け製品の導入検討・購入に関するご相談については、Webフォームよりお気軽にお問い合わせください。</p>
          <div class="p-dynabook-2025__busProduct__contact--bottom">
            <a class="p-dynabook-2025__busProduct__contact--button c-btn__linkBase-black c-btn__hover-invert" href="/business/contact/product-01.html">お問い合わせフォーム</a>
          </div>
        </div>
      </section>
      <section class="p-dynabook-2025__busProduct__lineup l-2025-page__section sp-wide-100">
        <div class="l-2025-page__section--head l-2025-page__sp--side">
          <h2 class="l-2025-page__section--title">dynabook  ラインアップ</h2>
        </div>
        <div class="l-2025-page__section--main">
          <div class="p-dynabook-2025__busProduct__lineup--group l-2025-page__sp--side">
            <div class="p-dynabook-2025__busProduct__lineup--title">
              <a href="/business-notebook-b-series/index.html">ビジネスノートPC</a>
            </div>
            <div class="p-dynabook-2025__busProduct__lineup--list">
              <a href="/business/product/business-notebook-b-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">15.6型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Bシリーズ</span>
              </span></a>
            </div>
          </div>
          <div class="p-dynabook-2025__busProduct__lineup--group l-2025-page__sp--side">
            <div class="p-dynabook-2025__busProduct__lineup--title">
              <a href="/business-mobile-notebook-r-series/index.html">ビジネスモバイルノートPC</a>
            </div>
            <div class="p-dynabook-2025__busProduct__lineup--list">
              <a href="/business/product/business-mobile-notebook-x-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型～14.0型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Xシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-g-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Gシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-ga-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">GAシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-sj-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">SJシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-rj-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型～14.0型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">RJシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-mj-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">14.0型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">MJシリーズ</span>
              </span></a>
              <a href="/business/product/business-mobile-notebook-p-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">15.6～16.0型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Pシリーズ</span>
              </span></a>
            </div>
          </div>
          <div class="p-dynabook-2025__busProduct__lineup--group l-2025-page__sp--side">
            <div class="p-dynabook-2025__busProduct__lineup--title">
              <a href="/business-2in1-notebook/index.html">ビジネス5in1／2in1ノートPC</a>
            </div>
            <div class="p-dynabook-2025__busProduct__lineup--list">
              <a href="/business/product/business-2in1-notebook-v-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">13.3型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Vシリーズ</span>
              </span></a>
              <a href="/business/product/business-2in1-notebook-k-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">10.1型</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">Kシリーズ</span>
              </span></a>
            </div>
          </div>
          <div class="p-dynabook-2025__busProduct__lineup--group l-2025-page__sp--side">
            <div class="p-dynabook-2025__busProduct__lineup--title">
              <a href="/business-desktop-dynadesk-series/index.html">デスクトップPC</a>
            </div>
            <div class="p-dynabook-2025__busProduct__lineup--list">
              <a href="/business/product/business-desktop-dynadesk-series/index.html" class="p-dynabook-2025__busProduct__lineup--item u-hover-img-bg-cover"><span>
                <span class="p-dynabook-2025__busProduct__lineup--type">dynaDesk</span>
                <span class="p-dynabook-2025__busProduct__lineup--series">シリーズ</span>
              </span></a>
            </div>
          </div>
        </div>
        <div class="p-dynabook-2025__busProduct__lineup--bottom l-2025-page__sp--side">
          <a href="/business/product/latest-product-line-up.html" class="c-btn__linkBase-black u-hover-bg-black c-ico__arrow-white"><span>ビジネスPCラインアップ一覧</span></a>
        </div>
      </section>
      <section class="p-dynabook-2025__busProduct__bottom l-2025-page__section sp-wide-100">
        <div class="l-2025-page__sp--side">
          <a href="/personal/index.html" class="p-dynabook-2025__busProduct__bottom--button">個人向けPCはこちら</a>
        </div>
      </section>
    </div>
  </main>
      <!--./dynabook-2025-main-->
      <!--dynabook-2025-fotter-->
      <%- include( pageData.path+'personal/modules/_fotter.ejs', { pageData: pageData } ); %>
      <!--./dynabook-2025-fotter-->
      <!-- <script src="./assets/js/main.js"></script> -->
      <!-- <script src="./assets/js/header_2025.js"></script> -->
      <!-- <script src="./assets/js/footer_2025.js"></script> -->
      <!-- %- include( pageData.path+'common/_fotter_js.ejs', { pageData: pageData } ); % -->
<div class="p-dynabook-2025__busProduct__galleryModal is-modalTarget">
      <section class="p-dynabook-2025__busProduct__gallery">
        <div class="l-2025-page__section">
          <div class="l-2025-page__section--main p-dynabook-2025__busProduct__gallery--lists">
            <div id="modal-areaGA83" class="p-dynabook-2025__busProduct__gallery--list js-target is-modal-target-1 is-modal-areaGA83">
              <div class="p-dynabook-2025__busProduct__galleryCarousel--wrapper">
                <div class="p-ddata-targetynabook-2025__busProduct__galleryCarousel js-carousel">
                  <div>
                    <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-mobile-notebook-ga-series/gallery_GA83_01.png">
                  </div>
                  <div>
                    <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-mobile-notebook-ga-series/gallery_GA83_02.png">
                  </div>
                  <div>
                    <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-mobile-notebook-ga-series/gallery_GA83_03.png">
                  </div>
                  <div>
                    <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-mobile-notebook-ga-series/gallery_GA83_04.png">
                  </div>
                  <div>
                    <img src="/sites/default/files/dynabook-b2b/assets_2025/images/business/product/business-mobile-notebook-ga-series/gallery_GA83_05.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>

<script src="/js/assets_2025/individual/slick.min.js"></script>
<script src="/js/assets_2025/individual/jquery.matchHeight-min.js"></script>
<script src="/js/assets_2025/individual/jquery.csv.min.js"></script>
<script src="/js/assets_2025/individual/header_2025.js"></script>
<script src="/js/assets_2025/individual/main_2025.js"></script>
<script src="/js/assets_2025/individual/footer_2025.js"></script>
    </div>
  </body>
</html>