<section class="p-dynabook-2025__movie">
  <div class="l-2025-page__section">
    <h2 class="c-title__levelPage-1">Dynabook Movie</h2>
    <p>dynabookの多彩なラインアップとその魅力を、動画でわかりやすくご紹介します。</p>
    <div class="p-dynabook-2025__movie--wrap">
      <ul class="p-dynabook-2025__movie--list c-btn__hover-shadow-ph c-btn__hover-shadow-slide">
        <li class="p-dynabook-2025__movie--item">
          <a href="https://www.youtube.com/watch?v=nsSUJw-rDOY&list=TLGGBXIpnO6Hee4yMzA0MjAyNQ&t=2s" class="u-hover-color--white u-hover-decoration-unde u-hover-img-scale btn-modal" data-movie="nsSUJw-rDOY">
            <div class="p-dynabook-2025__movie--th c-r-5 u-hover-img-bg-cover">
              <img class="u-img u-img__fit--contain" src="<%= pageData.assetPath %>images/business/top/movie_th_1.png" alt>
            </div>
            <p class="p-dynabook-2025__movie--text">We are Dynabook: AI時代も、人に寄り添う、真のパーソナルコンピュータを目指して</p>
          </a>
        </li>

        <li class="p-dynabook-2025__movie--item">
          <a href="https://www.youtube.com/watch?v=gUQNX-17HGk&list=TLGGRoZwO_qmciQyMzA0MjAyNQ&t=24s" class="u-hover-color--white u-hover-decoration-unde u-hover-img-scale btn-modal" data-movie="gUQNX-17HGk">
            <div class="p-dynabook-2025__movie--th c-r-5 u-hover-img-bg-cover">
              <img class="u-img u-img__fit--contain" src="<%= pageData.assetPath %>images/business/top/movie_th_2.png" alt>
            </div>
            <p class="p-dynabook-2025__movie--text">with Dynabook: Always by Your Side いつもあなたのそばに</p>
          </a>
        </li>

        <li class="p-dynabook-2025__movie--item">
          <a href="https://youtu.be/f4O-xuacoSw?si=Ry-76lIy_oR3rG_d" class="u-hover-color--white u-hover-decoration-unde u-hover-img-scale btn-modal" data-movie="f4O-xuacoSw">
            <div class="p-dynabook-2025__movie--th c-r-5 u-hover-img-bg-cover">
              <img class="u-img u-img__fit--contain" src="<%= pageData.assetPath %>images/business/top/movie_th_001.png" alt>
            </div>
            <p class="p-dynabook-2025__movie--text">ブランドムービー「世界初は、夢じゃない。」篇</p>
          </a>
        </li>
        <li class="p-dynabook-2025__movie--item">
          <a href="https://www.youtube.com/watch?v=qCSRyhpt7k8" class="u-hover-color--white u-hover-decoration-unde u-hover-img-scale btn-modal" data-movie="qCSRyhpt7k8">
            <div class="p-dynabook-2025__movie--th c-r-5 u-hover-img-bg-cover">
              <img class="u-img u-img__fit--contain" src="<%= pageData.assetPath %>images/business/top/movie_th_003.png" alt>
            </div>
            <p class="p-dynabook-2025__movie--text">Made in Japanを超える～成長しつづけるクオリティ～</p>
          </a>
        </li>
        <li class="p-dynabook-2025__movie--item">
          <a href="https://www.youtube.com/watch?v=7kAtkbUgmeM" class="u-hover-color--white u-hover-decoration-unde u-hover-img-scale btn-modal" data-movie="7kAtkbUgmeM">
            <div class="p-dynabook-2025__movie--th c-r-5 u-hover-img-bg-cover">
              <img class="u-img u-img__fit--contain" src="<%= pageData.assetPath %>images/business/top/movie_th_004.png" alt>
            </div>
            <p class="p-dynabook-2025__movie--text">【あなたも、次はdynabookで】</p>
          </a>
        </li>
        <li class="p-dynabook-2025__movie--item">
          <a href="https://www.youtube.com/watch?v=w71d4bkoZ_M" class="u-hover-color--white u-hover-decoration-unde u-hover-img-scale btn-modal" data-movie="w71d4bkoZ_M">
            <div class="p-dynabook-2025__movie--th c-r-5 u-hover-img-bg-cover">
              <img class="u-img u-img__fit--contain" src="<%= pageData.assetPath %>images/business/top/movie_th_005.png" alt>
            </div>
            <p class="p-dynabook-2025__movie--text">【動き続けるビジネスパーソンに14型も登場】<br>dynabook X74 (14.0型) / X83 (13.3型)</p>
          </a>
        </li>
      </ul>
      <div class="p-dynabook-2025__slider--ui p-dynabook-2025__slider--ui-left">
        <button class="p-dynabook-2025__slider--ui--btn p-dynabook-2025__slider--arrow-left p-dynabook-2025__slider--ui--btn-c">
          <img class="u-img" src="<%= pageData.assetPath %>images/common/arrow_slider-c.svg" alt>
        </button>

        <button class="p-dynabook-2025__slider--ui--btn p-dynabook-2025__slider--arrow-right p-dynabook-2025__slider--ui--btn-c">
          <img class="u-img" src="<%= pageData.assetPath %>images/common/arrow_slider-c.svg" alt>
        </button>
        <ul class="p-dynabook-2025__slider--dot--list"></ul>
      </div>
    </div>
  </div>
</section>